@using CourseOnline.Models;
@{
    ViewBag.Title = "Post Detail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Setting> listSetting = ViewBag.Setting;
    List<Setting> listSettingCategory = ViewBag.SettingCategory;
}

<section class="content-header">
    <h1>
        Post Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index", "Post")'>Post Lists</a></li>
        <li class="active">Post Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#content" data-toggle="tab">Content</a></li>
                    <!-- /.tab-content -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="overview">
                        <div class="form-group">
                            <label>Post name</label>
                            <input type="text" class="form-control edit-field" id="inp_name">
                        </div>
                        <div class="form-group">
                            <label>Short description</label>
                            <textarea class="form-control edit-field" id="inp_shortDes" rows="3"></textarea>
                        </div>
                        <div class="tab-pane tab-image" id="photo">
                            <img id="image_post" class="img-responsive pad" src="" alt="Photo">
                            <div class="row tab-button">
                                <div class="form-group col-sm-5 col-sm-push-7">
                                    <label for="exampleChange">Thumbnail image</label>
                                    <input onchange="readURL(this);" class="custom-input edit-field" type="file" id="exampleChange">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3">
                                    <select id="sl_postType" class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listSetting)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3">
                                    <select id="sl_PostCategory" class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listSettingCategory)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="content">
                        <!-- /.box-header -->
                        <div class="box box-info">
                            <div class="box-body pad">
                                <form>
                                    <textarea id="editor1" name="edit-field" rows="10" cols="80" placeholder="This is my textarea"></textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <button type="submit" onclick="draftPost()" class="btn btn-info edit-field buttonStyle">Draft</button>
                <button type="submit" onclick="submitPost()" class="btn btn-info edit-field buttonStyle">Submit</button>
                <button type="submit" onclick="publishPost()" class="btn btn-info edit-field buttonStyle">Publish</button>
                <button type="submit" onclick="hidePost()" class="btn btn-info edit-field buttonStyle">Hide</button>
                <button type="submit" class="btn btn-info buttonStyle" onclick="getBackPostList()">Back</button>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ggfbhz52km8705qzardmaj5wi5nimvcagr9owfw523rin98f/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#editor1' });</script>
    <script>
       //read url image
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_post')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        var isEnableEditingMode = true;
        function turnOnEditMode() {

                // bat trang thai edit
                $(".edit-field").each(
                    function () {
                        $(this).prop('disabled', true); isEnableEditingMode = true;
                    }
                )
        };
        function turnOffEdit() {
            tinyMCE.get('editor1').setMode('readonly');
        }

        function submitPost() {
            tinyMCE.triggerSave();
            var post = {
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Submitted",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitAddPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit success");
                        turnOnEditMode();
                        turnOffEdit();
                    } else {
                        errorAlert("Submit failed");
                    }
                },
                error: (response) => { errorAlert("Opps! Something wrong!") }
            });
        };

        function draftPost() {
            tinyMCE.triggerSave();
            var post = {
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Draft",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitAddPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit success");
                        turnOnEditMode();
                        turnOffEdit();
                    } else {
                        errorAlert("Submit failed");
                    }
                },
                error: (response) => { errorAlert("Opps! Something wrong!") }
            });
        };

        function publishPost() {
            tinyMCE.triggerSave();
            var post = {
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Published",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitAddPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit success");
                        turnOnEditMode();
                        turnOffEdit();
                    } else {
                        errorAlert("Submit failed");
                    }
                },
                error: (response) => { errorAlert("Opps! Something wrong!") }
            });
        };

        function hidePost() {
            tinyMCE.triggerSave();
            var post = {
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Hiden",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitAddPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit success");
                        turnOnEditMode();
                        turnOffEdit();
                    } else {
                        errorAlert("Submit failed");
                    }
                },
                error: (response) => { errorAlert("Opps! Something wrong!") }
            });
        };
        // bat su kien back
    function getBackPostList() {
               window.location.href ='@Url.Action("Index", "Post")';
        }
    </script>
}