@using CourseOnline.Models;
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    Post post = ViewBag.Post;
    List<Setting> listSetting = ViewBag.Setting;
    List<Setting> listSettingCategory = ViewBag.SettingCategory;
    int id = ViewBag.id;
}


<section class="content-header">
    <h1>
        Post Details
    </h1>
    <ol class="breadcrumb">
        <li><a href='@Url.Action("Home_CMS", "Home")'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index", "Post")'>Post Lists</a></li>
        <li class="active">Post Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row table-responsive">

        <div class="col-lg-12">
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#content" data-toggle="tab">Content</a></li>

                    <!-- /.tab-content -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="overview">
                        <div class="form-group">
                            <label>Post name</label>
                            <input disabled type="text" class="form-control edit-field" value="@post.post_name" id="inp_name">
                        </div>
                        <div disabled class="form-group">
                            <label>Short description</label>
                            <textarea disabled class="form-control edit-field" id="inp_shortDes" rows="3">@post.post_brief_info</textarea>
                        </div>
                        <div dis disabled class="form-group">
                            <div class="tab-pane tab-image" id="photo">
                                <img style="width:200px; height:300px;" id="image_post" class="img-responsive pad" src="@(post.post_thumbnail == null ? "" : Url.Content(post.post_thumbnail))" alt="Photo">
                                <div class="row tab-button edit-field">
                                    <div class="form-group col-sm-5 col-sm-push-7 pull-left">
                                        <label  for="exampleChange">Add/Change image</label>
                                        <input disabled onchange="readURL(this);" class="custom-input edit-field" type="file" id="exampleChange">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3">
                                    <select id="sl_postType" disabled class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listSetting)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                @if (post.post_type == "Resourse")
                                {
                                    <div class="col-sm-2">
                                        @using (Html.BeginForm("Import", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.Raw(ViewBag.Error)
                                            <span>PDF File</span>
                                            <input type="file" id="input_file" name="pdfFile" class="edit-field" />
                                            <input type="text" id="postID" name="postID" hidden class="edit-field" value="@post.post_id" />
                                            <input id="primaryButton" type="submit" value="Import" class="edit-field" />
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3">
                                    <select id="sl_PostCategory" disabled class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listSettingCategory)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane edit-field" id="content">
                        <div class="box box-info">
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                <form>
                                    <textarea disabled id="editor1" class="edit-field" rows="10" cols="80">@post.post_detail_info</textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>

            <!-- /.nav-tabs-custom -->
            <button class="btn btn-info" style="width : 8%;" onclick="turnOnEditMode()">Edit</button>
            <button disabled type="submit" style="width : 8%;" onclick="draftEditPost()" class="btn btn-info edit-field">Draft</button>
            <button disabled type="submit" style="width : 8%;" onclick="submitEditPost()" class="btn btn-info edit-field">Submit</button>
            <button disabled type="submit" style="width : 8%;" onclick="publishEditPost()" class="btn btn-info edit-field">Publish</button>
            <button disabled type="submit" style="width : 8%;" onclick="hideEditPost()" class="btn btn-info edit-field">Hide</button>
            <button disabled type="submit" style="width : 8%;" onclick="deleteEditPost()" class="btn btn-info edit-field">Delete</button>
            <button type="submit" style="width : 8%;" onclick="getBackPostList()" class="btn btn-info">Back</button>
        </div>


        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ggfbhz52km8705qzardmaj5wi5nimvcagr9owfw523rin98f/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#editor1' });</script>
    <script>

     var isEnableEditingMode = false;
         
        $(document).ready(function () {
            tinyMCE.get('editor1').setMode('readonly');
        setValueForComboBox();
        });
        //su kien load anh
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image_post')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(300);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        // dat gia tri cho comb box bang jquerry
        function setValueForComboBox() {
            $("#sl_postType").val("@post.post_type").trigger('change');
            $("#sl_PostCategory").val("@post.post_category").trigger('change');
        };

        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () {
                        tinyMCE.get('editor1').setMode('design');
                        $(this).prop('disabled', false); isEnableEditingMode = true;}
                )
            } else {
                // tat trang thai edit
                $(".edit-field").each(
                    function () {
                        $(this).prop('disabled', true); isEnableEditingMode = false;
                        tinyMCE.get('editor1').setMode('readonly');
                    }
                )
            }
        };

        function submitEditPost() {
            tinyMCE.triggerSave();
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Submitted",
                postThumbnail: $('#image_post').attr('src'),
            };
            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };


        function draftEditPost() {
            tinyMCE.triggerSave();
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Draft",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };

        //bat su kien publish
        function publishEditPost() {
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Published",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };

        //bat su kien hide
        function hideEditPost() {
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Hiden",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };

        //bat su kien delete
        function deleteEditPost() {
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Deleted",
                postThumbnail: $('#image_post').attr('src'),
            };

            var postJson = JSON.stringify(post);
            if ($("#inp_name").val() == "") {
                errorAlert("Name is not empty!");
                return;
            } else if ($("#inp_shortDes").val() == "") {
                errorAlert("Brief info is not empty!")
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };
        // bat su kien back
    function getBackPostList() {
               window.location.href ='@Url.Action("Index", "Post")';
        }

    </script>
}