@using CourseOnline.Models;
@{
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Setting> listType = ViewBag.postType;
    List<Setting> listCategory = ViewBag.postCategory;
    var listStatus = ViewBag.postStatus;
}
<link rel="stylesheet" href="~/Assets/popup/css/css.css">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<section class="content-header">
    <h1>
        Posts List
    </h1>
    <ol class="breadcrumb">
        <li><a href="dashboard.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Posts List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-sm-2">
                        <select id="sl_postType" class="form-control">
                            <option>All type</option>
                            @{
                                foreach (Setting setting in listType)
                                {
                                    <option value="@setting.setting_name">@setting.setting_name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_postCategory" class="form-control">
                            <option>All Category</option>
                            @{
                                foreach (Setting setting in listCategory)
                                {
                                    <option value="@setting.setting_name">@setting.setting_name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_postStatus" class="form-control">
                            <option>All Status</option>
                            @{
                                foreach (string post in listStatus)
                                {
                                    <option value="@post">@post</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-lg-2 pull-right">
                        <button type="button" class="btn btn-link" onclick="getAddPost()" style="float:right;">Add new</button>
                    </div>
                </div>
            </div>
                </div>
                <div class="box-body table-responsive">
                    <table id="tb_post" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th class="col-sm-3">Thumbnail</th>
                                <th class="col-sm-3">Name</th>
                                <th class="col-sm-2">Category</th>
                                <th class="col-sm-2">Type</th>
                                <th class="col-sm-1">Status</th>
                                <th class="col-sm-1">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
</section>

@section scripts{
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
    $(document).ready(function() {
       dataTable =  $('#tb_post').on('preXhr.dt', function (e, settings, data) {
                    $("#pre-load").show("slow", function () {
                    });
                }).DataTable({
                    "ajax": {
                    "url": '@Url.Action("GetAllPost", "Post")',
                    "type": "POST",
                        "datatype": "json",

                    },
                     "drawCallback": function (settings) {
                        $("#pre-load").hide("slow", function () {
                        });
                    },
                    "columns": [
                        { "data": "post_id", "name": "post_id", "orderable": true },
                        { "data": "post_thumbnail", "name": "post_thumbnail", "render": function(data) {
                            return "<img src='"+data+"' style='height:200px;'>";
                        } },
                        { "data": "post_name", "name": "post_name", "orderable": true },
                        { "data": "post_category", "name": "post_category", "orderable": true },
                        { "data": "post_type", "name": "post_type", "orderable": true },
                        { "data": "post_status", "name": "post_status", "orderable": true },
                        {
                            "data": "post_id", "render": function (data) {
                                return "<div class='row'><div class='col-lg-6'><a onclick=getEditIdPost('" + data + "') style='width=100%; cursor: pointer;' ><i class='fa fa-fw fa-edit'></i></a>" +
                                    "</div>" + 
                                    "<div class='col-lg-6 pull-left'><a id='myBtn' onclick=getDelIdPost('" + data + "') style='width=100%; cursor: pointer;' ><i class='fa fa-trash'></i></a>" +
								 "</div>" +
								 "</div>";
                            },

                            "orderable": false,
                            "searchable": false
                        },

                    ],
                "paging": true,
                "pageLength": 5,
                "ordering": true,
                "serverSide": "true",
                "order": [[0, "asc"]],
                "searching": false
                });

                // them su kien cho filter
                filterListener();
    });
        // bat su kien add
        function getAddPost() {
               // $("#pre-load").show("slow", function () {});
               //setTimeout(function(){ alert("Hello"); }, 5000);
               window.location.href ='@Url.Action("AddPost", "Post")';
        }

        //bat su kien edit
        function getEditIdPost(id) {
            if (id != null) {
               // $("#pre-load").show("slow", function () {});
               //setTimeout(function(){ alert("Hello"); }, 5000);
               window.location.href ='@Url.Action("PostDetail", "Post")?id=' + id;

            }
        }

        function doFilter() {
                var valueSelected = {
                    postType : $("#sl_postType").val(),
                    postCategory : $("#sl_postCategory").val(),
                    postStatus : $("#sl_postStatus").val(),
                };
                var valueSelectedJson = JSON.stringify(valueSelected);
                dataTable.ajax.url('@Url.Action("DoFilter","Post")' + '?filterBy=' + valueSelectedJson).load(function (response) { });
        }

        function filterListener() {
            $('#sl_postType').on('change', function (e) {
                doFilter();
            });

            $('#sl_postCategory').on('change', function (e) {
                doFilter();
             });

             $('#sl_postStatus').on('change', function (e) {
                doFilter();
            });
        }

        function getDelIdPost(id) {
            if (id != null) {
                confirmAlert('Delete', 'Do you want to delete', function submit() {
                    $.ajax({
                        url:'@Url.Action("deletePost","Post")',
                        type: "POST",
                        data: { id: id },
                        datatype: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Delete Success")
                            } else {
                                errorAlert("Failed", "Delete Failed")
                            }
                        },
                        error: (response) => { errorAlert("Failed", "Delete failed") }
                    });
                });
            }
        }

        //// Get the modal
        //var modal = document.getElementById("myModal");

        //// Get the button that opens the modal
        //var btn = document.getElementById("myBtn");

        //// Get the <span> element that closes the modal
        //var span = document.getElementsByClassName("close")[0];

        //// When the user clicks the button, open the modal
        //btn.onclick = function () {
        //    modal.style.display = "block";
        //}

        //// When the user clicks on <span> (x), close the modal
        //span.onclick = function () {
        //    modal.style.display = "none";
        //}

        //// When the user clicks anywhere outside of the modal, close it
        //window.onclick = function (event) {
        //    if (event.target == modal) {
        //        modal.style.display = "none";
        //    }

    </script>
}



