@using CourseOnline.Models;
@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    Post post = ViewBag.Post;
    List<Setting> listSetting = ViewBag.Setting;
    List<Setting> listSettingCategory = ViewBag.SettingCategory;
    int id = ViewBag.id;
}


<section class="content-header">
    <h1>
        Post Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="dashboard.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index", "Post")'>Post Lists</a></li>
        <li class="active">Post Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">

        <div class="col-lg-12">
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#content" data-toggle="tab">Content</a></li>

                    <!-- /.tab-content -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="overview">
                        <div class="form-group">
                            <label>Post name</label>
                            <input disabled type="text" class="form-control edit-field" value="@post.post_name" id="inp_name">
                        </div>
                        <div class="form-group">
                            <label>Short description</label>
                            <textarea disabled class="form-control edit-field" id="inp_shortDes" rows="3">@post.post_brief_info</textarea>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3 ">
                                    <label for="thumbnail">Thumbnail</label>
                                    <input class="custom-input" type="file" id="thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3">
                                    <select id="sl_postType" disabled class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listSetting)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <div class="row">
                                <div class="col col-lg-3 col-md-3 col-sm-3">
                                    <select id="sl_PostCategory" disabled class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listSettingCategory)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="content">
                        <div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">
                                    CK Editor
                                    <small>Advanced and full of features</small>
                                </h3>
                                <!-- tools box -->
                                <div class="pull-right box-tools">
                                    <button type="button" class="btn btn-info btn-sm" data-widget="collapse"
                                            data-toggle="tooltip" title="Collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-sm" data-widget="remove"
                                            data-toggle="tooltip" title="Remove">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                                <!-- /. tools -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body pad">
                                <form>
                                    <textarea disabled id="editor1" class="edit-field" rows="10" cols="80">@post.post_detail_info</textarea>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>

            <!-- /.nav-tabs-custom -->
            <button class="btn btn-info" onclick="turnOnEditMode()">Edit</button>
            <button disabled type="submit" onclick="draftEditPost()" class="btn btn-info edit-field">Draft</button>
            <button disabled type="submit" onclick="submitEditPost()" class="btn btn-info edit-field">Submit</button>
            <button disabled type="submit" onclick="publishEditPost()" class="btn btn-info edit-field">Publish</button>
            <button disabled type="submit" onclick="hideEditPost()" class="btn btn-info edit-field">Hide</button>
            <button disabled type="submit" onclick="deleteEditPost()" class="btn btn-info edit-field">Delete</button>
            <button type="submit" onclick="getBackPostList()" class="btn btn-info">Back</button>
        </div>


        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ggfbhz52km8705qzardmaj5wi5nimvcagr9owfw523rin98f/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
    <script>

     var isEnableEditingMode = false;

        $(document).ready(function () {

        setValueForComboBox();
    });
        // dat gia tri cho comb box bang jquerry
        function setValueForComboBox() {
            $("#sl_postType").val("@post.post_type").trigger('change');
            $("#sl_PostCategory").val("@post.post_category").trigger('change');
        };

        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', false); isEnableEditingMode = true; }
                )
            } else {
                // tat trang thai edit
                 $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = false;}
                )
            }
        };

        function submitEditPost() {
            tinyMCE.triggerSave();
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Submitted",
            };

            var postJson = JSON.stringify(post);

            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                        turnOnEditMode();
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };


        function draftEditPost() {
            tinyMCE.triggerSave();
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Draft",
            };

            var postJson = JSON.stringify(post);

            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                        turnOnEditMode();
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };

        //bat su kien publish
        function publishEditPost() {
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Published",
            };

            var postJson = JSON.stringify(post);

            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                        turnOnEditMode();
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };

        //bat su kien hide
        function hideEditPost() {
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Hiden",
            };

            var postJson = JSON.stringify(post);

            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                        turnOnEditMode();
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };

        //bat su kien delete
        function deleteEditPost() {
            var post = {
                id : @id,
                postName: $("#inp_name").val(),
                shortDes: $("#inp_shortDes").val(),
                postType: $("#sl_postType").val(),
                postCategory: $("#sl_PostCategory").val(),
                postDetailInfo: $("#editor1").val(),
                postStatus: "Deleted",
            };

            var postJson = JSON.stringify(post);

            $.ajax({
                url: '@Url.Action("SubmitPost","Post")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                        turnOnEditMode();
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };
        // bat su kien back
    function getBackPostList() {
               window.location.href ='@Url.Action("Index", "Post")';
        }

    </script>
}