@using CourseOnline.Models;
@{
    ViewBag.Title = "CourseList";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Subject> subjects = ViewBag.Subjects;
}

<section class="content-header">
    <h1>
        Courses List
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Courses List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box table-responsive">
                <div class="row">
                    <div class="col-sm-2" style="margin-left : 10px; margin-top : 10px">
                        <select id="sl_subjectName" class="form-control">
                            <option value="187697411">All Subject</option>
                            @{
                                foreach (Subject s in subjects)
                                {
                                    <option value="@s.subject_id ">@s.subject_name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-3" style="margin-top : 10px">
                        Search:
                        <input type="text" placeholder="Search" id="inp_search" style="height:34px; margin-left:10px;" />
                        <a onclick="doSearch()" style="cursor: pointer;" data-toggle='tooltip' title='Search'><i class='fa fa-fw fa-search'></i></a>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-link" onclick="getAddCourse()" style="float:right;">Add new</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_course" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Course</th>
                                <th>Teacher</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Status</th>
                                <th class="col-sm-2">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {

            dataTable=$('#tb_course').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllCourse", "Course")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "course_id", "name": "course_id", "orderable": true },
                { "data": "course_name", "name": "course_name", "orderable": true },
                { "data": "user_fullname", "name": "user_fullname", "orderable": true },
                { "data": "course_start_date", "name": "course_start_date", "orderable": true },
                { "data": "course_end_date", "name": "course_end_date", "orderable": true },
                {
                    "data": "course_status", "name": "course_status", "orderable": true, "render": function (data) {
                        if (data == 1) return "Active"
                        else return "Inactive"}
                },
                {
                    "data": "course_id", "render": function (data) {
                        return "<div class='row'><div class='col-sm-4'><a onclick=getEditIdCourse('" + data + "') style='width=100%; cursor : pointer' data-toggle='tooltip' title='Edit'><i class='fa fa-fw fa-edit'></i></a>" +
                                    "</div>" + 
                                    "<div class='col-sm-4'><a onclick=getCourseWork('" + data + "') style='width=100%; cursor : pointer' data-toggle='tooltip' title='Coursework'><i class='fa fa-pencil'></i></a>" +
                                    "</div>" +
                                    "<div class='col-sm-4'><a onclick=getGrade('" + data + "') style='width=100%; cursor : pointer' data-toggle='tooltip' title='Grades'><i class='fa fa-table'></i></a>" +
								    "</div>"
								 "</div>";

                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 10,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
            });
        //them su kien cho filter
            filterListener();
        //them su kien cho search
            doSearch()
    });

        //bat su kien search
        function doSearch() {
            
            $('#inp_search').on('change', function (e) {
                var valueSelected = this.value;
                dataTable.ajax.url('@Url.Action("SearchByName","Course")' + '?type=' + valueSelected).load(function (response) { });
            });
        }

        function filterListener() {
             $('#sl_subjectName').on('change', function (e) {
                 var optionSelected = $("option:selected", this);
                 var valueSelected = this.value;
                 dataTable.ajax.url('@Url.Action("FilterBySubjectName","Course")' + '?type=' + valueSelected).load(function (response) { });
            });
        }
        function getAddCourse() {
            window.location.href = '@Url.Action("AddCourse","Course")';
        }
         //bat su kien edit
        function getEditIdCourse(id) {
            if (id != null) {
               window.location.href ='@Url.Action("CourseEdit", "Course")?id=' + id;
            }
        }
        //bat su kien coursework
        function getCourseWork(id) {
            if (id != null) {
               window.location.href ='@Url.Action("CourseWorkList", "Course")?id=' + id;
            }
        }
        //bat su kien grade
        function getGrade(id) {
            if (id != null) {
               window.location.href ='@Url.Action("GetGrade", "Course")?id=' + id;
            }
        }
    </script>
}
