@using CourseOnline.Models;
@{
    ViewBag.Title = "DomainList";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    Subject subject = ViewBag.Subject;
    List<Setting> listSettingType = ViewBag.SettingType;
    List<Setting> listSettingCategory = ViewBag.SettingCategory;
    int subject_id = ViewBag.id;
}

<section class="content-header">
    <h1>
        Domain List
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Subject")'>Subject List</a></li>
        <li class="active">Domain List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box table-responsive">
                <div class="row">
                    <div class="col-sm-4" style="margin-left : 10px; margin-top : 10px">
                        Search:
                        <input type="text" placeholder="Search" id="inp_search" style="height:34px; margin-left:10px;" />
                        <a onclick="doSearch()" style="cursor: pointer;" data-toggle='tooltip' title='Search'><i class='fa fa-fw fa-search'></i></a>
                    </div>
                    <div class="col-sm-3" style="margin-top : 10px">
                        <label><h5>Subject: <b>@{@ViewBag.Subject.subject_name}</b></h5></label>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-link" onclick="getAddDomain()" style="float:right;">Add Domain</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_domain" class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th style="width:10px;">ID</th>
                                <th>Domain</th>
                                <th class="col-sm-2">Status</th>
                                <th class="col-sm-1">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
    var dataTable;
        $(document).ready(function () {
        dataTable = $('#tb_domain').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllDomain", "Domain")',
                "type": "POST",
                "data": { "id" : @ViewBag.id },
                "datatype": "json",
            },
            "columns": [
                { "data": "domain_id", "name": "domain_id", "orderable": true },
                { "data": "domain_name", "name": "domain_name", "orderable": true },
                {
                    "data": "domain_status", "name": "domain_status", "orderable": true, "render": function (data) {
                          if (data == 1) return "Active"
                          else return "Inactive"}
                },
                {
                    "data": "domain_id", "render": function (data) {
                          return "<a onclick=getEditIdDomain('" + data + "') style='width=100%; margin-left : 20px; cursor : pointer' data-toggle='tooltip' title='Edit'><i class='fa fa-fw fa-edit'></i></a>";
                    },
                    "orderable" : false,
                    "searchable" : false
                },
            ],
        "paging" : true,
        "pageLength" : 10,
        "ordering" : true,
        "serverSide" : "true" ,
        "order" : [[0, "asc" ]],
        "searching" : false
        });

        //them su kien cho search
            doSearch()
    });

    //bat su kien search
        function doSearch() {
            
            $('#inp_search').on('change', function (e) {
                var valueSelected = this.value;
                dataTable.ajax.url('@Url.Action("SearchByName","Domain")' + '?type=' + valueSelected + "&subject_id=" +@ViewBag.id).load(function (response) { });
            });
        }

    // bat su kien add
        function getAddDomain() {
               window.location.href ='@Url.Action("AddDomain", "Domain")/@ViewBag.id';
        }

    //bat su kien edit
    function getEditIdDomain(id) {
            if (id != null) {
               window.location.href ='@Url.Action("EditDomain", "Domain")?domainId=' + id +"&subjectId=" + @ViewBag.id;
            }
        }

    
    </script>
}
