@using CourseOnline.Models;
@{
    ViewBag.Title = "LessonDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Setting> listLessonType = ViewBag.LessonType;
    Lesson lesson = ViewBag.Lesson;
    int lesson_id = ViewBag.Lesson_id;
    int subject_id = ViewBag.Subject_id;
    ;
}

<section class="content-header">
    <h1>
        Lesson Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Subject")'>Subjects List</a></li>
        <li><a href='@Url.Action("BackSubjectLessonList","SubjectLesson")/@ViewBag.Subject_id'>Subject Lesson</a></li>
        <li class="active">Lesson Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" disabled class="form-control edit-field" id="inp_name" value="@lesson.lesson_name">
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select id="sl_lessonType" disabled class="form-control edit-field">
                                    @{
                                        foreach (Setting setting in listLessonType)
                                        {
                                            <option value="@setting.setting_name">@setting.setting_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select id="sl_lessonStatus" disabled class="form-control edit-field">
                                    @{
                                        if (lesson.lesson_status == true)
                                        {
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        }
                                        else
                                        {
                                            <option>Inactive</option>
                                            <option>Active</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Order</label>
                                <input type="text" disabled class="form-control edit-field" id="inp_order" value="@lesson.lesson_order">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Video link</label>
                        <input type="text" disabled class="form-control edit-field" placeholder="Youtube link" id="inp_link" value="@lesson.lesson_link">
                    </div>
                    <div class="form-group">
                        <label>HTML Content</label>
                        <textarea disabled class="form-control edit-field" rows="10" id="inp_content">@lesson.lesson_content</textarea>
                    </div>
                    <button class="btn btn-info" onclick="turnOnEditMode()">Edit</button>
                    <button disabled type="submit" onclick="SubmitEditLesson()" class="btn btn-info edit-field">Submit</button>
                    <button type="submit" class="btn btn-info" onclick='getBackLessonList()'>Back</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>

        var isEnableEditingMode = false;
        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', false); isEnableEditingMode = true; }
                )
            } else {
                // tat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = false; }
                )
            }
        };

        function SubmitEditLesson() {
            var lesson = {
                    lessonid: @lesson_id,
                    subjectid: @subject_id,
                    lessonName: $("#inp_name").val(),
                    lessonType: $("#sl_lessonType").val(),
                    lessonStatus: $("#sl_lessonStatus").val(),
                    lessonOrder: $("#inp_order").val(),
                    lessonLink: $("#inp_link").val(),
                    lessonContent: $("#inp_content").val(),
            };

            var postJson = JSON.stringify(lesson);

            $.ajax({
                url: '@Url.Action("SubmitEditLesson","SubjectLesson")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit thanh cong");
                        turnOnEditMode();
                    } else {
                        alert("submit that bai");
                    }
                },
                error: (response) => { alert("co van de ve mang") }
            });
        };

    // bat su kien back
    function getBackLessonList() {
               window.location.href ='@Url.Action("BackSubjectLessonList", "SubjectLesson")/@ViewBag.Subject_id';
        }
    </script>
}
