@using CourseOnline.Models;
@{
    ViewBag.Title = "LessonDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Setting> listLessonType = ViewBag.LessonType;
    List<Coursework> listCourseWorkName = ViewBag.CourseWorkName;
    List<LessonModel> listParent = ViewBag.LessonParent;
    Lesson lesson = ViewBag.Lesson;
    int lesson_id = ViewBag.Lesson_id;
    int subject_id = ViewBag.Subject_id;
    ;
}

<section class="content-header">
    <h1>
        Lesson Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Subject")'>Subjects List</a></li>
        <li><a href='@Url.Action("BackSubjectLessonList","SubjectLesson")/@ViewBag.Subject_id'>Subject Lesson</a></li>
        <li class="active">Lesson Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box table-responsive">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control edit-field" id="inp_name" value="@lesson.lesson_name">
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <select id="sl_lessonType" disabled class="form-control">
                                    @{
                                        foreach (Setting setting in listLessonType)
                                        {
                                            <option value="@setting.setting_name">@setting.setting_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Status</label>
                                <select id="sl_lessonStatus" class="form-control edit-field">
                                    @{
                                        if (lesson.lesson_status == true)
                                        {
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        }
                                        else
                                        {
                                            <option>Inactive</option>
                                            <option>Active</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Order</label>
                                <input type="text" class="form-control edit-field" id="inp_order" value="@lesson.lesson_order">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Video link</label>
                                <input type="text" class="form-control edit-field" id="inp_link" value="@lesson.lesson_link">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Subject Topic</label>
                                <select id="sl_lessonParent" class="form-control edit-field">
                                    @{
                                        foreach (LessonModel les in listParent)
                                        {
                                            <option value="@les.parent_id">@les.lesson_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Coursework Name</label>
                                <select id="sl_cwName" class="form-control edit-field">
                                    @{
                                        foreach (Coursework cw in listCourseWorkName)
                                        {
                                            <option value="@cw.coursework_id">@cw.coursework_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <label>HTML Content</label>
                    <div class="box box-info">
                        <div class="box-body pad">
                            <form>
                                <textarea id="inp_content" name="inp_content" rows="10" cols="80">@lesson.lesson_content</textarea>
                            </form>
                        </div>
                    </div>
                    <button type="submit" style="width:8%;" onclick="SubmitEditLesson()" class="btn btn-info edit-field">Submit</button>
                    <button type="submit" style="width:8%;" class="btn btn-info" onclick='getBackLessonList()'>Back</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ggfbhz52km8705qzardmaj5wi5nimvcagr9owfw523rin98f/tinymce/5/tinymce.min.js"></script>
    <script>tinymce.init({ selector: '#inp_content' });</script>
    <script>
        $(document).ready(function () {
            //tinyMCE.get('inp_content').setMode('readonly');
            setValueForComboBox();
            if ($("#sl_lessonType").val() == "Video Lesson") {
                $("#sl_cwName").each(
                    function () {
                        $(this).prop('disabled', true);
                        $("#sl_cwName").val("");
                    }
                )
                tinyMCE.get('inp_content').setMode('readonly');
            } else if ($("#sl_lessonType").val() == "HTML Lesson") {
                $("#inp_link").each(
                    function () {
                        $(this).prop('disabled', true); isEnableSelected = true;
                        $("#inp_link").val("");
                    }
                )
                $("#sl_cwName").each(
                    function () {
                        $(this).prop('disabled', true); isEnableSelected = true;
                        $("#sl_cwName").val("");
                    }
                )
                tinyMCE.get('inp_content').setMode('design');
            } else if ($("#sl_lessonType").val() == "Quiz") {
                $("#inp_link").each(
                    function () {
                        $(this).prop('disabled', true); isEnableSelected = true;
                        $("#inp_link").val("");
                    }
                )
                tinyMCE.get('inp_content').setMode('readonly');
            } else if ($("#sl_lessonType").val() == "Subject Topic") {
                $("#inp_link").each(
                    function () {
                        $(this).prop('disabled', true); isEnableSelected = true;
                        $("#inp_link").val("");
                    }
                )
                $("#sl_lessonParent").each(
                    function () {
                        $(this).prop('disabled', true); isEnableSelected = true;
                        $("#sl_lessonParent").val("");
                    }
                )
                $("#sl_cwName").each(
                    function () {
                        $(this).prop('disabled', true); isEnableSelected = true;
                        $("#sl_cwName").val("");
                    }
                )
                tinyMCE.get('inp_content').setMode('readonly');
            }
        });

        // dat gia tri cho comb box bang jquerry
        function setValueForComboBox() {
            $("#sl_lessonType").val("@ViewBag.LessonSetType").trigger('change');
        };

        function turnOffEditMode() {
                // tat trang thai edit
                $(".edit-field").each(
                    function () {
                        $(this).prop('disabled', true);
                    }
                )
        };
        function turnOffEdit() {
            tinyMCE.get('editor1').setMode('readonly');
        }

        function SubmitEditLesson() {
            tinyMCE.triggerSave();
            var lesson = {
                    lessonid: @lesson_id,
                    subjectid: @subject_id,
                    lessonName: $("#inp_name").val(),
                    lessonType: $("#sl_lessonType").val(),
                    lessonStatus: $("#sl_lessonStatus").val(),
                    lessonOrder: $("#inp_order").val(),
                    lessonLink: $("#inp_link").val(),
                    lessonContent: $("#inp_content").val(),
                    cwName: $("#sl_cwName").val(),
                    parentId: $("#sl_lessonParent").val(),
            };

            var postJson = JSON.stringify(lesson);
            var regex = /^\d+$/;
            if ($("#inp_name").val() == "") {
                errorAlert("Name not empty!");
                return;
            } else if (!regex.test($("#inp_order").val())) {
                errorAlert("Order is must number!");
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitEditLesson","SubjectLesson")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOffEditMode();
                        turnOffEdit();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };

    // bat su kien back
    function getBackLessonList() {
               window.location.href ='@Url.Action("BackSubjectLessonList", "SubjectLesson")/@ViewBag.Subject_id';
        }
    </script>
}
