@using CourseOnline.Models;
@{
    ViewBag.Title = "AddTest";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Exam> listExam = ViewBag.listExam;
}
<section class="content-header">
    <h1>
        Create Test
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Test")'>Test Lists</a></li>
        <li class="active">Test Detail</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box table-responsive">
                <div class="box-body">
                    <div class="form-group" style="width:30%;">
                        <label>Exam Name</label>
                        <select id="sl_exam" class="form-control edit-field">
                            @{
                                foreach (Exam e in listExam)
                                {
                                    <option value="@e.exam_id">@e.exam_name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group" style="width:30%;">
                        <label>Test Name</label>
                        <input id="inp_testName" type="text" class="form-control edit-field" />
                    </div>
                    <div class="row">
                        <div class="form-group" style="width:30%;">
                            <div class="col-lg-2">
                                <label>Code</label>
                            </div>
                            <div class="col-lg-6">
                                <input id="inp_code" type="text" class="form-control edit-field">
                            </div>
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-block btn-primary" onclick='getResetCode()'>Random</button>
                            </div>
                        </div>
                    </div>
                    <button type="submit" style="width : 8%;" onclick="submitTest()" class="btn btn-info edit-field">Submit</button>
                    <button type="submit" style="width : 8%;" onclick="goBack()" class="btn btn-info">Back</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>

    function turnOnEditMode() {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', true); }
                )
        };
    function getResetCode() {
            document.getElementById("inp_code").value = Math.random().toString(36).substring(2);
    };
    function submitTest() {

        var test = {
            examId: $("#sl_exam").val(),
            testName: $("#inp_testName").val(),
            testCode: $("#inp_code").val()
            };

            var postJson = JSON.stringify(test);
            if ($("#inp_testName").val() == "") {
                errorAlert("Test Name not empty!");
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitTest","Test")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };
    function goBack() {
        window.location.href = '@Url.Action("Index", "Test")';
    }

</script>
}

