@using CourseOnline.Models;
@{
    ViewBag.Title = "EditTest";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    ExamTest test = ViewBag.ExamTest;
    //int id = ViewBag.TestId;
}
<section class="content-header">
    <h1>
        Edit Test
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Test")'>Test Lists</a></li>
        <li class="active">Test Detail</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box table-responsive">
                <div class="box-body">
                    <div class="form-group" style="width:30%;">
                        <label>Exam Name</label>
                        <input id="sl_exam" type="text" disabled class="form-control" value="@ViewBag.ExamName">
                    </div>
                    <div class="form-group" style="width:30%;">
                        <label>Test Name</label>
                        <input id="inp_testName" type="text" disabled class="form-control edit-field" value="@test.test_name">
                    </div>
                    <div class="row">
                        <div class="form-group" style="width:30%;">
                            <div class="col-lg-2">
                                <label>Code</label>
                            </div>
                            <div class="col-lg-6">
                                <input id="inp_code" type="text" disabled class="form-control edit-field" value="@test.test_code">
                            </div>
                            <div class="col-lg-4">
                                <button type="button" class="btn btn-block btn-primary" disabled onclick='getResetCode()'>Reset</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-info" style="width : 8%;" onclick="turnOnEditMode()">Edit</button>
                    <button type="submit" style="width : 8%;" onclick="submitTestEdit()" disabled class="btn btn-info edit-field">Submit</button>
                    <button type="submit" style="width : 8%;" onclick="goBack()" class="btn btn-info">Back</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var isEnableEditingMode = false;
        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', false); isEnableEditingMode = true; }
                )
            } else {
                // tat trang thai edit
                 $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = false;}
                )
            }
        };
        function getResetCode() {
            document.getElementById("inp_code").value = Math.random().toString(36).substring(2);
        }
    function submitTestEdit() {
        var test = {
            id : @ViewBag.TestId,
            examName: @test.exam_id,
            testName: $("#inp_testName").val(),
            testCode: $("#inp_code").val()
            };

            var postJson = JSON.stringify(test);
            if ($("#inp_testName").val() == "") {
                errorAlert("Test Name not empty!");
                return;
            };
            $.ajax({
                url: '@Url.Action("SubmitTestEdit","Test")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };
    function goBack() {
        window.location.href = '@Url.Action("Index", "Test")';
    }

    </script>
}

