@using CourseOnline.Models;
@{
    ViewBag.Title = "ResultTest";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    var listBatch = ViewBag.listBatch;
    int idTest = ViewBag.id;
}
<section class="content-header">
    <h1>
        Exam Tests Result
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Test")'>Exams List Result</a></li>
        <li><a class="active">Result List</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col col-xs-12">
            <div class="box table-responsive">
                <div class="row">
                    <div class="col-sm-4" style="margin-left : 10px; margin-top : 10px">
                        Search:
                        <input type="text" placeholder="Search name and email" id="inp_search" style="height:34px; margin-left:10px;" />
                        <a onclick="doSearch()" style="cursor: pointer;" data-toggle='tooltip' title='Search'><i class='fa fa-fw fa-search'></i></a>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_result" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="10px">ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Tested At</th>
                                <th>Result</th>
                                <th class="col-sm-1">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable =  $('#tb_result').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllResult", "ResultTest", new { @id = idTest})',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "test_user_id", "name": "test_user_id", "orderable": true },
                { "data": "user_fullname", "name": "user_fullname", "orderable": true },
                { "data": "user_email", "name": "user_email", "orderable": true },
                { "data": "tested_at", "name": "tested_at", "orderable": true },
                { "data": "grade_user", "name": "grade_user", "orderable": true },
                {
                    "data": "test_user_id", "render": function (data) {
                        return "<a onclick=getDeleteId('" + data + "') style='width=100%; margin-left : 20px; cursor : pointer' data-toggle='tooltip' title='Delete'><i class='fa fa-trash'></i></a>";
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 10,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
            });
            //them su kien cho search
            doSearch()
        });
        
        //bat su kien search
        function doSearch() {
            
            $('#inp_search').on('change', function (e) {
                var valueSelected = this.value;
                dataTable.ajax.url('@Url.Action("SearchByName","ResultTest")' + '?type=' + valueSelected).load(function (response) { });
            });
        }

        //delete slider theo id
        function getDeleteId(id) {
            if (id != null) {
                confirmAlert('Delete', 'Do you want to delete?', function submit() {
                    $.ajax({
                        url:'@Url.Action("delResultTest","ResultTest")',
                        type: "POST",
                        data: { id: id },
                        datatype: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Delete Success")
                            } else {
                                errorAlert("Fail", "Delete Fail")
                            }
                        },
                        error: (response) => { errorAlert("Fail", "Delete Fail") }
                    });
                });
            }
        }

    </script>
}
