@using CourseOnline.Models;
@{
    ViewBag.Title = "Exam Detail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Setting> listType = ViewBag.examType;
    int id = ViewBag.id;
    Exam ex = ViewBag.Exam;
    var listExamLevel = ViewBag.ExamLevel;
    List<ExamConfig> examConfigs = ViewBag.examConfig;
    List<LessonModel> lstlesson = ViewBag.lstLesson;
    List<DomainListModel> lstDomain = ViewBag.lstDomain;

    List<ExamConfigModel> lstExamConfigModel = ViewBag.examConfigModels;
    int sumofQuestion = ViewBag.sumofquestion;
}
<section class="content-header">
    <h1>
        Exam Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Exam")'>Exam Lists</a></li>
        <li class="active">Exam Edit</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row table-responsive">
        <div class="col-lg-12">
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#content" data-toggle="tab">Content</a></li>
                    <!-- /.tab-content -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="overview">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="inp_examName" type="text" disabled class="form-control edit-field" value="@ex.exam_name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Subject</label>
                                <input id="sl_subject" type="text" disabled class="form-control" value="@ViewBag.SubjectSetName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Exam level</label>
                                    <select id="sl_level" disabled class="form-control edit-field">
                                        @{
                                            foreach (string level in listExamLevel)
                                            {
                                                <option value="@level">@level</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Duration(minutes)</label>
                                    <input id="inp_duration" type="text" disabled class="form-control edit-field" value="@ex.exam_duration">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Pass rate(%)</label>
                                    <input id="inp_passRate" type="text" disabled class="form-control edit-field" value="@ex.pass_rate">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Test Type</label>
                                    <select id="sl_type" disabled class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listType)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Short description</label>
                            <textarea disabled class="form-control edit-field" id="inp_description" rows="3">@ex.exam_description</textarea>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="content">
                        <div class="form-group">
                            @if (sumofQuestion != -1)
                            {
                                <label>Sum of questions </label><input type="text" id="sum_of_question" style="margin-left: 10px" value="@sumofQuestion" disabled />
                            }
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Type of questions</label>
                                </div>
                                @if (examConfigs != null)
                                {
                                    if (examConfigs[0].domain_id != null)
                                    {
                                        <div class="col-md-3">
                                            <input type="radio" name="type_question" value="Domain" checked> Domain
                                        </div>
                                    }
                                    else if (examConfigs[0].lesson_id != null)
                                    {
                                        <div class="col-md-3">
                                            <input type="radio" name="type_question" value="Lesson" checked> Lesson
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                        @if (examConfigs != null)
                        {
                            if (examConfigs[0].domain_id != null)
                            {
                                <div class="form-group" id="lstDomainNeed">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>Choose Domain</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="sl_listDomain" class="form-control">
                                                @foreach (DomainListModel domainListModel in lstDomain)
                                                {
                                                    <option value="@domainListModel.domain_id"> @domainListModel.domain_name</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="number" id="number_question_domain" placeholder="Input Number" min="1" />
                                        </div>
                                        <div class="col-sm-3">
                                            <button onclick="saveNumberQuestionByDomain()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (examConfigs[0].lesson_id != null)
                            {
                                <div class="form-group" id="lstLessonNeed">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label id="lesson_name">Choose Lesson</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="sl_listLesson" class="form-control">
                                                @foreach (LessonModel lessonModel in lstlesson)
                                                {
                                                    if (lessonModel.lesson_id == lessonModel.parent_id)
                                                    {
                                                        <option style='background-color: #99D9EA' value="@lessonModel.lesson_id">@lessonModel.lesson_name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@lessonModel.lesson_id">@lessonModel.lesson_name</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="number" id="number_question_lesson" placeholder="Input Question Number" min="1" />
                                        </div>
                                        <div class="col-sm-3">
                                            <button onclick="saveNumberQuestionByLesson()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @if (examConfigs != null)
                        {
                            if (examConfigs[0].domain_id != null)
                            {
                                <table class="table table-bordered" id="optionTableDomain">
                                    <tbody>
                                        @foreach(ExamConfigModel examConfig in lstExamConfigModel)
                                        {
                                        <tr id="@examConfig.domain_id">
                                            <td>Your Option</td>
                                            <td><input disabled type="text" class="col-lg-10" value="@examConfig.domain_name"/></td>
                                            <td><input disabled class="col-lg-10" id="@string.Format("{0}{1}", "number",examConfig.domain_id)" value="@examConfig.domain_size"/></td>
                                            <td><button type="submit" class="btn btn-danger btnDelete">Delete</button></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                            else if (examConfigs[0].lesson_id != null)
                            {
                                <table class="table table-bordered" id="optionTable">
                                    <tbody>
                                        @foreach (ExamConfigModel examConfig in lstExamConfigModel)
                                        {
                                            <tr id="@examConfig.exam_id">
                                                <td>Your Option</td>
                                                <td><input disabled type="text" class="col-lg-10" value="@examConfig.lesson_name" /></td>
                                                <td><input disabled class="col-lg-10" id="@string.Format("{0}{1}", "number",examConfig.lesson_id)" value="@examConfig.lesson_size" /></td>
                                                <td><button type="submit" class="btn btn-danger btnDelete">Delete</button></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
            <button class="btn btn-info" style="width : 8%;" onclick="turnOnEditMode()">Edit</button>
            <button type="submit" style="width : 8%;" disabled onclick="submitExam()" class="btn btn-info edit-field">Submit</button>
            <button type="submit" style="width : 8%;" onclick="goBack()" class="btn btn-info">Back</button>
        </div>
    </div>
</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>

        var isEnableEditingMode = false;

        $(document).ready(function () {
            setValueForComboBox();

        });
        function setValueForComboBox() {
            $("#sl_type").val("@ViewBag.ExamSetType").trigger('change');
            $("#sl_level").val("@ex.exam_level").trigger('change');
        };

        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', false); isEnableEditingMode = true; }
                )
            } else {
                // tat trang thai edit
                 $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = false;}
                )
            }
        };

        function submitExam() {
            var exam = {
                id : @id,
                examName: $("#inp_examName").val(),
                subjectId: @ViewBag.SubjectId,
                examLevel: $("#sl_level").val(),
                examDuration: $("#inp_duration").val(),
                examPassRate: $("#inp_passRate").val(),
                examType: $('#sl_type').val(),
                examDescription: $('#inp_description').val()
            };

            var postJson = JSON.stringify(exam);
            var regex = /^\d+$/;
            if ($("#inp_examName").val() == "") {
                errorAlert("Name not empty!");
                return;
            } else if (!regex.test($("#inp_duration").val())) {
                errorAlert("Duration is must number!");
                return;
            } else if (!regex.test($("#inp_passRate").val())) {
                errorAlert("Pass rate is must number!");
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitExamEdit","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };
        function goBack() {
            window.location.href = '@Url.Action("Index", "Exam")';
        }
       function removeOption() {
            $("#optionTable").on('click', '.btnDelete', function () {
            var savequestion = {
                lessonID : $(this).closest('tr').attr('id'),
             }
                if (0 > $('#sum_of_question').val() - $('#number' + savequestion.lessonID).val()) {
                    return;
                } else {
                 $('#sum_of_question').val($('#sum_of_question').val() - $('#number' + savequestion.lessonID).val());
                 var postJson = JSON.stringify(savequestion);
                 $.ajax({
                url: '@Url.Action("DeleteQuestionByLesson","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        $(this).closest('tr').remove();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
                }
         });
        };
        removeOption();

        function removeOptionDomain() {
            $("#optionTableDomain").on('click', '.btnDelete', function () {
             var savequestion = {
                domainID : $(this).closest('tr').attr('id'),
            }
              if (0 > $('#sum_of_question').val() - $('#number' + savequestion.domainID).val()) {
                            return;
              } else {
                    $('#sum_of_question').val($('#sum_of_question').val() - $('#number' + savequestion.domainID).val());
                    var postJson = JSON.stringify(savequestion);
                    $(this).closest('tr').remove();
                     $.ajax({
                        url: '@Url.Action("DeleteQuestionByDomain","Exam")',
                        type: "POST",
                        data: { postJson : postJson },
                        dataType: "json",
                        success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        $(this).closest('tr').remove();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
                }
         });
        };
        removeOptionDomain();
        function saveNumberQuestionByLesson() {
            var savequestion = {
                lessonID : $('#sl_listLesson').val(),
                number_question_lesson: $('#number_question_lesson').val(),
            }
            var postJson = JSON.stringify(savequestion);
            $.ajax({
                url: '@Url.Action("SaveQuestionByLesson","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                            $('#sum_of_question').val(+$('#sum_of_question').val() + + $('#number_question_lesson').val());
                            var checkoption = $('#sl_listLesson').val();
                            row ="<tr id = " + checkoption + ">" +
                              "  <td>Your Option</td>" +
                                "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"optionText" + checkoption + "\" value=\"" + response.data.lesson_name + "\"></td> " +
                                "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"number" + checkoption + "\" value=\""+ response.data.lesson_size + "\"></td> " +
                                "  <td><button type=\"submit\" class=\"btn btn-danger edit-field btnDelete id=\"" + checkoption + "\">Delete</button></td>" +
                            " </tr>"
                           $('#optionTable > tbody:last-child').append(row);
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }

        function saveNumberQuestionByDomain() {
            var savequestion = {
                domainID : $('#sl_listDomain').val(),
                number_question_domain : $('#number_question_domain').val(),
            }
            var postJson = JSON.stringify(savequestion);
            $.ajax({
                url: '@Url.Action("SaveQuestionByDomain","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        $('#sum_of_question').val(+$('#sum_of_question').val() + + $('#number_question_domain').val());
                        var checkoption = $('#sl_listDomain').val();
                        row ="<tr id = " + checkoption + ">" +
                          "  <td>Your Option</td>" +
                          "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"optionText" + checkoption + "\" value=\"" + response.data.domain_name + "\"></td> " +
                          "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"number" + checkoption + "\" value=\""+response.data.domain_size + "\"></td> " +
                          "  <td><button type=\"submit\" class=\"btn btn-danger edit-field btnDelete id=\"" + checkoption + "\">Delete</button></td>" +
                        " </tr>"
                       $('#optionTableDomain > tbody:last-child').append(row);
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }

    </script>
}
