@using CourseOnline.Models;
@{
    ViewBag.Title = "Exam Detail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Subject> subjectName = ViewBag.subjectName;
    List<Setting> listType = ViewBag.examType;
}
<section class="content-header">
    <h1>
        Exam Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Exam")'>Exam Lists</a></li>
        <li class="active">Exam Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row table-responsive">
        <div class="col-lg-12">
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#content" data-toggle="tab" id="content_header">Content</a></li>

                    <!-- /.tab-content -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="overview">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="inp_examName" type="text" class="form-control edit-field">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Subject</label>
                                <select id="sl_subject" class="form-control edit-field">
                                    <option>All Subject</option>
                                    @{
                                        foreach (Subject subject in subjectName)
                                        {
                                            <option value="@subject.subject_id">@subject.subject_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Exam level</label>
                                    <select id="sl_level" class="form-control edit-field">
                                        <option>Hard</option>
                                        <option>Medium</option>
                                        <option>Easy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Duration(minutes)</label>
                                    <input id="inp_duration" type="text" class="form-control edit-field">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Pass rate(%)</label>
                                    <input id="inp_passRate" type="text" class="form-control edit-field">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Test Type</label>
                                    <select id="sl_type" class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listType)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Short description</label>
                            <textarea class="form-control edit-field" id="inp_description" rows="3"></textarea>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="content">
                        <div class="form-group" id="Sum of questions">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Sum of questions </label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" id="sum_of_question" placeholder="Input Number" min="1" />
                                    <button id="totalQuestion" onclick="saveTotalQuestion()">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="typeOfQuestion">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Type of questions</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="type_question" value="Domain" checked> Domain
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="type_question" value="Lesson"> Lesson
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="lstDomainNeed">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Choose Domain</label>
                                </div>
                                <div class="col-sm-4">
                                    <select id="sl_listDomain" class="form-control">
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="number_question_domain" placeholder="Input Number" min="1" />
                                </div>
                                <div class="col-sm-3">
                                    <button onclick="saveNumberQuestionByDomain()">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="lstLessonNeed">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label id="lesson_name">Choose Lesson</label>
                                </div>
                                <div class="col-sm-4">
                                    <select id="sl_listLesson" class="form-control">
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="number_question_lesson" placeholder="Input Question Number" min="1" />
                                </div>
                                <div class="col-sm-3">
                                    <button onclick="saveNumberQuestionByLesson()">Save</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered" id="optionTable">
                            <tbody>
                            </tbody>
                        </table>
                        <table class="table table-bordered" id="optionTableDomain">
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
            <button type="submit" style="width : 8%;" onclick="submitExam()" class="btn btn-info edit-field">Submit</button>
            <button type="submit" style="width : 8%;" onclick="goBack()" class="btn btn-info">Back</button>
        </div>
    </div>
</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var number = 0;
        function saveTotalQuestion() {
            $('#sum_of_question').prop('disabled', true);
            $('#totalQuestion').prop('disabled', true);
            $('#typeOfQuestion').fadeIn();
            number = $('#sum_of_question').val();
        }

        if ($('#sl_subject').val() == 'All Subject') {
             $('#content_header').hide();
             $('#lstDomainNeed').fadeOut();
            $('#lstLessonNeed').fadeOut();
            $('#typeOfQuestion').fadeOut();
        }
        $('#sl_subject').change(function () {
            if (this.value == 'All Subject') {
                $('#content_header').show();
                $('#lstDomainNeed').fadeOut();
               $('#lstLessonNeed').fadeOut();
               $('#typeOfQuestion').fadeOut();
            } else {
           if ($("input[name='type_question']:checked").val() == 'Domain') {
             $.ajax({
             url:'@Url.Action("LoadDomain", "Exam")',
             type: "POST",
             data: { subjectID : $("#sl_subject").val() },
             success: (response) => {
                 if (response.success) {
                     $('#content_header').fadeIn();
                     $('#Sum of questions').fadeIn();
                     $('#sl_listDomain').find('option').remove();
                     for (var i = 0, len = response.data.length; i < len; ++i) {
                     $('#sl_listDomain').append(`<option value="${response.data[i].domain_id}">
                                       ${response.data[i].domain_name}
                                  </option>`) ;
                   }
                 } else {

                 }
             },
             error: (response) => {

             },
           })
          }
         else if ($("input[name='type_question']:checked").val() == 'Lesson') {
           $.ajax({
             url:'@Url.Action("LoadLesson", "Exam")',
             type: "POST",
             data: { subjectID : $("#sl_subject").val() },
             success: (response) => {
                 if (response.success) {
                     $('#content_header').fadeIn();
                     $('#Sum of questions').fadeIn();
                     $('#sl_listLesson').find('option').remove();
                     for (var i = 0, len = response.data.length; i < len; ++i) {
                         if (response.data[i].lesson_id == response.data[i].parent_id) {
                             $('#sl_listLesson').append(`<option style='background-color: #99D9EA' value="${response.data[i].lesson_id}">
                                      -  ${response.data[i].lesson_name}
                                  </option>`);
                         } else {
                             $('#sl_listLesson').append(`<option value="${response.data[i].lesson_id}">
                                    &nbsp;&nbsp;+ ${response.data[i].lesson_name}
                             </option>`);
                         }
                   }
                 } else {

                 }
               },
              error: (response) => {
             },
           })
        }
       }
      });


         $("input[name='type_question']").on("change", function()
           {
            if ($("input[name='type_question']:checked").val() == 'Lesson') {
                $.ajax({
                 url:'@Url.Action("LoadLesson", "Exam")',
                 type: "POST",
                 data: { subjectID : $("#sl_subject").val() },
                 success: (response) => {
                     if (response.success) {
                         $('#content_header').fadeIn();
                         $('#lstLessonNeed').fadeIn();
                         $('#lstDomainNeed').fadeOut();
                         $('#sl_listLesson').find('option').remove();
                         for (var i = 0, len = response.data.length; i < len; ++i) {
                             if (response.data[i].lesson_id == response.data[i].parent_id) {
                                 $('#sl_listLesson').append(`<option style='background-color: #99D9EA' value="${response.data[i].lesson_id}">
                                      -  ${response.data[i].lesson_name}
                                  </option>`);
                             } else {
                               $('#sl_listLesson').append(`<option value="${response.data[i].lesson_id}">
                                            &nbsp;&nbsp;+ ${response.data[i].lesson_name}
                                      </option>`);
                             }

                       }
                     } else {

                     }
                   },
                  error: (response) => {
                 },
               })
            } else if ($("input[name='type_question']:checked").val() == 'Domain') {
               $.ajax({
                 url:'@Url.Action("LoadDomain", "Exam")',
                 type: "POST",
                 data: { subjectID : $("#sl_subject").val() },
                 success: (response) => {
                     if (response.success) {
                         $('#content_header').fadeIn();
                         $('#lstDomainNeed').fadeIn();
                         $('#lstLessonNeed').fadeOut();
                         $('#sl_listDomain').find('option').remove();
                         for (var i = 0, len = response.data.length; i < len; ++i) {
                         $('#sl_listDomain').append(`<option value="${response.data[i].domain_id}">
                                           ${response.data[i].domain_name}
                                      </option>`) ;
                       }
                     } else {

                     }
                 },
                 error: (response) => {

                 },
               })
            }
           });

        function turnOnEditMode() {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', true); }
                )
        };

        function submitExam() {
            var exam = {
                examName: $("#inp_examName").val(),
                subjectId: $("#sl_subject").val(),
                examLevel: $("#sl_level").val(),
                examDuration: $("#inp_duration").val(),
                examPassRate: $("#inp_passRate").val(),
                examType: $('#sl_type').val(),
                examDescription: $('#inp_description').val()
            };

            var postJson = JSON.stringify(exam);
            var regex = /^\d+$/;
            if ($("#inp_examName").val() == "") {
                errorAlert("Name not empty!");
                return;
            } else if (!regex.test($("#inp_duration").val())) {
                errorAlert("Duration is must number!");
                return;
            } else if (!regex.test($("#inp_passRate").val())) {
                errorAlert("Pass rate is must number!");
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitExam","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        window.location.href = '@Url.Action("Index", "Exam")';
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };
        function goBack() {
            window.location.href = '@Url.Action("Index", "Exam")';
        }
        function removeOption() {
            $("#optionTable").on('click', '.btnDelete', function () {
            var savequestion = {
                lessonID : $(this).closest('tr').attr('id'),
             }
                if (number < +$('#sum_of_question').val() + + $('#number' + savequestion.lessonID).val()) {
                    return;
                } else {
                 $('#sum_of_question').val(+$('#sum_of_question').val() + + $('#number' + savequestion.lessonID).val());
                 var postJson = JSON.stringify(savequestion);
                 $.ajax({
                url: '@Url.Action("DeleteQuestionByLesson","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        $(this).closest('tr').remove();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
                }
         });
        };
        removeOption();

        function removeOptionDomain() {
            $("#optionTableDomain").on('click', '.btnDelete', function () {
             var savequestion = {
                domainID : $(this).closest('tr').attr('id'),
            }
              if (number < +$('#sum_of_question').val() + + $('#number' + savequestion.domainID).val()) {
                            return;
              } else {
                    $('#sum_of_question').val(+$('#sum_of_question').val() + + $('#number' + savequestion.domainID).val());
                    var postJson = JSON.stringify(savequestion);
                    $(this).closest('tr').remove();
                     $.ajax({
                        url: '@Url.Action("DeleteQuestionByDomain","Exam")',
                        type: "POST",
                        data: { postJson : postJson },
                        dataType: "json",
                        success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        $(this).closest('tr').remove();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
                }
         });
        };
        removeOptionDomain();
        function saveNumberQuestionByLesson() {
           var checklesson = 0;
            $('#optionTable').find('input').each(function () {
                if ($(this).attr('id') == "number" + $('#sl_listLesson').val()) {
                    checklesson++;
                }
            });

            var savequestion = {};
            if (checklesson != 0) {
                savequestion = {
                    lessonID: $('#sl_listLesson').val(),
                    number_question_lesson: +$("#number" + $('#sl_listLesson').val()).val() + + $('#number_question_lesson').val(),
                }
            } else {
                 savequestion = {
                    lessonID: $('#sl_listLesson').val(),
                    number_question_lesson: $('#number_question_lesson').val(),
                }
            }
            var postJson = JSON.stringify(savequestion);
            $.ajax({
                url: '@Url.Action("SaveQuestionByLesson","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        if ($('#sum_of_question').val() - $('#number_question_lesson').val() < 0) {
                            errorAlert("Not Enough Question !!!");
                        } else {
                            var check = 0;
                            $('#sum_of_question').val($('#sum_of_question').val() - $('#number_question_lesson').val());
                            var checkoption = $('#sl_listLesson').val();
                            $('#optionTable').find('input').each(function () {
                            if ($(this).attr('id') == "number" + checkoption) {
                                $("#number" + checkoption).val(response.data.lesson_size);
                                check++;
                            }
                            });
                            if (check == 0) {
                                row = "<tr id = " + checkoption + ">" +
                                    "  <td>Your Option</td>" +
                                    "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"optionText" + checkoption + "\" value=\"" + response.data.lesson_name + "\"></td> " +
                                    "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"number" + checkoption + "\" value=\"" + response.data.lesson_size + "\"></td> " +
                                    "  <td><button type=\"submit\" class=\"btn btn-danger edit-field btnDelete id=\"" + checkoption + "\">Delete</button></td>" +
                                    " </tr>"
                                $('#optionTable > tbody:last-child').append(row);
                            }
                        }
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }

        function saveNumberQuestionByDomain() {
            var checkdomain = 0;
            $('#optionTableDomain').find('input').each(function () {
                if ($(this).attr('id') == "number" + $('#sl_listDomain').val()) {
                    checkdomain++;
                }
            });
            var savequestion = {};
            if (checkdomain != 0) {
                savequestion = {
                    domainID: $('#sl_listDomain').val(),
                    number_question_domain: +$("#number" + $('#sl_listDomain').val()).val() + + $('#number_question_domain').val(),
                }
            } else {
               savequestion = {
                    domainID: $('#sl_listDomain').val(),
                   number_question_domain: $('#number_question_domain').val(),
                }
            }
            var postJson = JSON.stringify(savequestion);
            $.ajax({
                url: '@Url.Action("SaveQuestionByDomain","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        var check = 0;
                        if ($('#sum_of_question').val() - $('#number_question_domain').val() < 0) {
                            errorAlert("Not Enough Question !!!");
                        } else {
                            $('#sum_of_question').val($('#sum_of_question').val() - $('#number_question_domain').val());
                            var checkoption = $('#sl_listDomain').val();
                            $('#optionTable').find('input').each(function () {
                              if ($(this).attr('id') == "number" + checkoption) {
                                 $("#number" + checkoption).val(response.data.domain_size);
                                 check++;
                               }
                            });
                           if (check == 0) {
                            row ="<tr id = " + checkoption + ">" +
                              "  <td>Your Option</td>" +
                                "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"optionText" + checkoption + "\" value=\"" + response.data.domain_name + "\"></td> " +
                                "  <td><input disabled type=\"text\" class=\"col-lg-10 edit-field\" id=\"number" + checkoption + "\" value=\""+response.data.domain_size + "\"></td> " +
                                "  <td><button type=\"submit\" class=\"btn btn-danger edit-field btnDelete id=\"" + checkoption + "\">Delete</button></td>" +
                            " </tr>"
                           $('#optionTableDomain > tbody:last-child').append(row);
                          }
                        }
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }
    </script>
}
