@using CourseOnline.Models;
@{
    ViewBag.Title = "Exam Detail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    List<Subject> subjectName = ViewBag.subjectName;
    List<Setting> listType = ViewBag.examType;
    int id = ViewBag.id;
    Exam ex = ViewBag.Exam;
    var listExamLevel = ViewBag.ExamLevel;
}
<section class="content-header">
    <h1>
        Exam Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Exam")'>Exam Lists</a></li>
        <li class="active">Exam Edit</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row table-responsive">
        <div class="col-lg-12">
            <div class="nav-tabs-custom ">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                    <li><a href="#content" data-toggle="tab">Content</a></li>
                    <!-- /.tab-content -->
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="overview">
                        <div class="form-group">
                            <label>Name</label>
                            <input id="inp_examName" type="text" disabled class="form-control edit-field" value="@ex.exam_name">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Subject</label>
                                <input id="sl_subject" type="text" disabled class="form-control" value="@ViewBag.SubjectSetName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Exam level</label>
                                    <select id="sl_level" disabled class="form-control edit-field">
                                        @{
                                            foreach (string level in listExamLevel)
                                            {
                                                <option value="@level">@level</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Duration(minutes)</label>
                                    <input id="inp_duration" type="text" disabled class="form-control edit-field" value="@ex.exam_duration">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Pass rate(%)</label>
                                    <input id="inp_passRate" type="text" disabled class="form-control edit-field" value="@ex.pass_rate">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Test Type</label>
                                    <select id="sl_type" disabled class="form-control edit-field">
                                        @{
                                            foreach (Setting setting in listType)
                                            {
                                                <option value="@setting.setting_name">@setting.setting_name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Short description</label>
                            <textarea disabled class="form-control edit-field" id="inp_description" rows="3">@ex.exam_description</textarea>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="content">
                        <div class="form-group">
                            <label>Sum of questions </label><input type="text" id="sumOfQuesion" style="margin-left: 10px"/>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Type of questions</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="gender" value="male"> Domain
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="gender" value="male"> Topic
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
            <button class="btn btn-info" style="width : 8%;" onclick="turnOnEditMode()">Edit</button>
            <button type="submit" style="width : 8%;" disabled onclick="submitExam()" class="btn btn-info edit-field">Submit</button>
            <button type="submit" style="width : 8%;" onclick="goBack()" class="btn btn-info">Back</button>
        </div>
    </div>
</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>

        var isEnableEditingMode = false;

        $(document).ready(function () {
            setValueForComboBox();

        });
        function setValueForComboBox() {
            $("#sl_type").val("@ViewBag.ExamSetType").trigger('change');
            $("#sl_level").val("@ex.exam_level").trigger('change');
        };

        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', false); isEnableEditingMode = true; }
                )
            } else {
                // tat trang thai edit
                 $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = false;}
                )
            }
        };

        function submitExam() {
            var exam = {
                id : @id,
                examName: $("#inp_examName").val(),
                subjectId: @ViewBag.SubjectId,
                examLevel: $("#sl_level").val(),
                examDuration: $("#inp_duration").val(),
                examPassRate: $("#inp_passRate").val(),
                examType: $('#sl_type').val(),
                examDescription: $('#inp_description').val()
            };

            var postJson = JSON.stringify(exam);
            var regex = /^\d+$/;
            if ($("#inp_examName").val() == "") {
                errorAlert("Name not empty!");
                return;
            } else if (!regex.test($("#inp_duration").val())) {
                errorAlert("Duration is must number!");
                return;
            } else if (!regex.test($("#inp_passRate").val())) {
                errorAlert("Pass rate is must number!");
                return;
            }
            $.ajax({
                url: '@Url.Action("SubmitExamEdit","Exam")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        successAlert("Submit Success");
                        turnOnEditMode();
                    } else {
                        errorAlert("Submit Fail");
                    }
                },
                error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        };
        function goBack() {
            window.location.href = '@Url.Action("Index", "Exam")';
        }
    </script>
}
