@using PagedList.Mvc
@using CourseOnline.Models

@{
    ViewBag.Title = "Post";
    PagedList.IPagedList<Post> listPosts = ViewBag.lstPost;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="index.html">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Posts</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        @for (int index = 0; index < listPosts.Count; index++)
        {
            <div class="row mb-5">
                <div class="col-lg-6 mb-lg-0 mb-4">
                    <img src="@listPosts[index].post_thumbnail" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-5 ml-auto align-self-center">
                    <h2 class="section-title-underline mb-5">
                        <span>@listPosts[index].post_name</span>
                    </h2>
                    <p>@listPosts[index].post_brief_info</p>
                </div>
            </div>
            if (listPosts.Count > 2)
            {
                index += 1;
                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                        <img src="@listPosts[index].post_thumbnail" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                        <h2 class="section-title-underline mb-5">
                            <span>@listPosts[index].post_name</span>
                        </h2>
                        <p>@listPosts[index].post_brief_info</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="dlink">
    Page @(listPosts.PageCount < listPosts.PageNumber ? 0 : listPosts.PageNumber)/@listPosts.PageCount
    @Html.PagedListPager(listPosts, page => Url.Action("PostList", new { page = page }))
</div>


