@using CourseOnline.Models;
@{
    ViewBag.Title = "Slider List";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    var listSlider = ViewBag.sliderStatus;
}


<section class="content-header">
    <h1>
        Sliders List
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sliders List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">
                    <div class="col-sm-2" style="margin-left : 10px; margin-top : 10px">
                        <select id="sl_sliderStatus" class="form-control">
                            <option>All Status</option>
                            @{
                                foreach (string slider in listSlider)
                                {
                                    <option value="@slider">@slider</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-3" style="margin-top : 10px">
                        Search:
                        <input type="text" placeholder="Search for name" id="inp_search" style="height:34px; margin-left:10px;" />
                        <a onclick="doSearch()" style="cursor: pointer;" data-toggle='tooltip' title='Search'><i class='fa fa-fw fa-search'></i></a>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-link" onclick="getAddSlider()" style="float:right;">Add new</button>
                    </div>
                </div>
                    <div class="box-body table-responsive">
                        <div class="box">
                            <!-- /.box-header -->
                            <table id="tb_slider" class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width:10px;">ID</th>
                                        <th>Picture</th>
                                        <th>Title</th>
                                        <th>Link Slider</th>
                                        <th>Caption</th>
                                        <th>Status</th>
                                        <th class="col-sm-1">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable =  $('#tb_slider').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllSlider", "Slider")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "slider_id", "name": "slider_id", "orderable": true },
                {
                    "data": "slider_picture_url", "render": function (data) {
                        if (data) {
                            return "<img src='" + data + "' style='height: 20%;'>";
                        }
                    },
                    "orderable": false,
                    "searchable": false
                },
                { "data": "slider_title", "name": "slider_title", "orderable": true },
                {
                    "data": "slider_back_link", "render": function (data) {
                        if (data) {
                            return "<a href='#' onclick=getImage('" + data + "') >(" + data +")</a>";
                        }
                    },
                    "orderable": false,
                    "searchable": false
                },
                { "data": "slider_caption", "name": "slider_caption", "orderable": true },
                { "data": "slider_status", "name": "slider_status", "orderable": true },
                {
                    "data": "slider_id", "render": function (data) {
                        if (data) {
                            return "<div class='row'><div class='col-lg-6'><a onclick=getEditSlider('" + data + "') style='width=100%; cursor: pointer;' data-toggle='tooltip' title='Edit'><i class='fa fa-fw fa-edit'></i></a>" +
                                    "</div>" +
                                    "<div class='col-lg-6 pull-left'><a id='myBtn' onclick=getDeleteIdSlider('" + data + "') style='width=100%; cursor: pointer;' data-toggle='tooltip' title='Delete'><i class='fa fa-trash'></i></a>" +
								 "</div>" +
								 "</div>";
                        }
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 5,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
            });
            filterListener();
            doSearch();
    });
        //bat su kien add
        function getAddSlider() {
            window.location.href = '@Url.Action("AddSlider","Slider")';
        }
        //bat su kien search
        function doSearch() {

            $('#inp_search').on('change', function (e) {
                var valueSelected = this.value;
                dataTable.ajax.url('@Url.Action("SearchByName","Slider")' + '?type=' + valueSelected).load(function (response) { });
            });
        }
        //filer status
        function filterListener() {
            $('#sl_sliderStatus').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                 var valueSelected = this.value;
                 dataTable.ajax.url('@Url.Action("FilterBySliderStatus","Slider")' + '?type=' + valueSelected).load(function (response) { });
            });
        }

        //bat su kien edit
        function getEditSlider(id) {
            if (id != null) {
                window.location.href = '@Url.Action("EditSlider","Slider")?id=' + id;
            }
        }

        //delete slider theo id
        function getDeleteIdSlider(id) {
            if (id != null) {
                confirmAlert('Delete', 'Do you want to delete', function submit() {
                    $.ajax({
                        url:'@Url.Action("delSlider","Slider")',
                        type: "POST",
                        data: { id: id },
                        datatype: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Delete Success")
                            } else {
                                errorAlert("Failed", "Delete Failed")
                            }
                        },
                        error: (response) => { errorAlert("Failed", "Delete failed") }
                    });
                });
            }
        }

    </script>
}

