@using CourseOnline.Models;
@{
    ViewBag.Title = "Setting List";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    var listGroup = ViewBag.settingGroup;
}
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        System Settings
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Settings List</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-block btn-primary" onclick='getAddSetting()'>Add new</button>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_settingGroup" class="form-control">
                            <option>All type</option>
                            @{
                                foreach (string setting in listGroup)
                                {
                                    <option value="@setting">@setting</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_settingStatus" class="form-control">
                            <option>All Status</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_setting" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="table-width5">ID</th>
                                <th class="table-width20">Group</th>
                                <th class="table-width50">Name</th>
                                <th class="table-width5">Order</th>
                                <th class="table-width5">Status</th>
                                <th class="table-width10">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
            dataTable =  $('#tb_setting').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllSetting", "Setting")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "setting_id", "name": "setting_id", "orderable": true },
                { "data": "setting_group_value", "name": "setting_group_value", "orderable": true },
                { "data": "setting_name", "name": "setting_name", "orderable": true },
                { "data": "setting_order", "name": "setting_order", "orderable": true },
                {
                    "data": "setting_status", "name": "setting_status", "orderable": true, "render": function (data) {
                        if (data == 1) return "active"
                        else return "inactive"}
                },
                {
                    "data": "setting_id", "render": function (data) {
                                return "<button class='btn btn-block btn-primary' style='margin-left:5px' onclick=getEditSetting('" + data + "') ><i class='fa fa-fw fa-edit'></i>Edit</button>" +
                                 "<button id='myBtn' class='btn btn-block btn-danger'  style='margin-left:5px' onclick=getDelIdSetting('" + data + "') ><i class='fa fa-trash'></i>Delete</button>" ;
                            },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 5,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
            });
            //them su kien cho filter
            filterListener()
    });

    // bat su kien add
        function getAddSetting() {
            window.location.href ='@Url.Action("AddSetting", "Setting")';
            }

        function getEditSetting(id) {
            if (id != null) {
                window.location.href = '@Url.Action("EditSetting", "Setting")?id=' + id;
            }
        }

        function filterListener() {
             $('#sl_settingStatus').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                 var valueSelected = this.value;
                 dataTable.ajax.url('@Url.Action("FilterBySettingStatus","Setting")' + '?type=' + valueSelected).load(function (response) { });
             });

            $('#sl_settingGroup').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                var valueSelected = this.value;

                dataTable.ajax.url('@Url.Action("FilterBySettingGroup","Setting")' + '?type=' + valueSelected).load(function (response) { });
            });
        }
        function getDelIdSetting(id) {
            if (id != null) {
                confirmAlert('Xóa', 'Xác nhận xóa', function submit() {
                    $.ajax({
                        url:'@Url.Action("delSetting","Setting")',
                        type: "POST",
                        data: { id: id },
                        datatype: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Thành công", "Xóa thành công")
                            } else {
                                errorAlert("Thất bại", "Xóa thất bại")
                            }
                        },
                        error: (response) => { errorAlert("Thất bại", "Xóa thất bại") }
                    });
                });
            }
        }

    </script>
}