@using CourseOnline.Models;

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CourseListModel> lstCourse = ViewBag.lstCourse;
    List<Post> listPost = ViewBag.lstPost;
    List<UserListModel> listTeacher = ViewBag.lstTeacher;
    List<Slider> lstSlider = ViewBag.lstSlider;
}
    <div class="hero-slide owl-carousel site-blocks-cover">
        @if (lstSlider.Count() != 0)
        {
            foreach (Slider slider in lstSlider)
            {
                <div class="intro-section" style="background-image: url('../../@slider.slider_picture_url');">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 mx-auto text-center" data-aos="fade-up">
                                <h1>@slider.slider_title</h1>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


<div></div>

<div class="site-section">
    <div class="container">


        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6 mb-5">
                <h2 class="section-title-underline mb-3">
                    <span>Popular Subjects</span>
                </h2>
                <a href="@Url.Action("ListCourses","Home")">Read All Courses</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                @if (lstCourse.Count != 0)
                {
                    <div class="owl-slide-3 owl-carousel">

                        @foreach (var item in lstCourse)
                        {
                            <div class="course-1-item">
                                <figure class="thumnail">
                                    <a href="@Url.Action("CheckYourCourse","Home", new { @id = item.course_id})"><img src="@(item.picture == null ? "" : Url.Content(@item.picture))" alt="Image" class="img-fluid" style="height:150px; width:500px; overflow:hidden"></a>
                                    <div class="price" style="padding-top:1em">Start Date: @item.course_start_date</div>
                                    <div class="category"><h3>@item.subject_name</h3></div>
                                </figure>
                                <div class="course-1-content pb-4">
                                    <h2>@item.course_name</h2>
                                    <div class="desc mb-4" style="height:100px; overflow:hidden">@item.subject_brief_info</div>
                                    <p><a href="@Url.Action("CheckYourCourse","Home", new { @id = item.course_id})" class="btn btn-primary rounded-0 px-4">Join Course</a></p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>



    </div>
</div>

<div class="news-updates">
    <div class="container">

        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-6 mb-5">
                <h2 class="section-title-underline mb-3">
                    <span>News &amp; Events</span>
                </h2>
                <a href="@Url.Action("PostList","News")">Read All News</a>
            </div>
        </div>
        <div class="row">
            @if (listPost.Count() != 0)
            {
                <div class="col-lg-6">
                    <div class="post-entry-big">
                        @if (listPost[0].post_type == "Resourse")
                        {
                            if (listPost[0].post_document_link != null)
                            {
                                <a href="@Url.Action("DownloadFile", "News", new { id = listPost[0].post_id })" class="img-link"><img src="@(listPost[0].post_thumbnail == null ? "" : Url.Content(listPost[0].post_thumbnail))" alt="Image" class="img-fluid"></a>
                            }
                            else
                            {
                                <a href="#" class="img-link"><img src="@(listPost[0].post_thumbnail == null ? "" : Url.Content(listPost[0].post_thumbnail))" alt="Image" class="img-fluid"></a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("PostDetail","News", new { id = listPost[0].post_id})" class="img-link"><img src="@(listPost[0].post_thumbnail == null ? "" : Url.Content(listPost[0].post_thumbnail))" alt="Image" class="img-fluid"></a>
                        }
                        <div class="post-content">
                            <div class="post-meta">
                                <a href="#">@listPost[0].post_date</a>
                                <span class="mx-1">/@listPost[0].post_category</span>
                            </div>
                            <h3 class="post-heading"><a href="#">@listPost[0].post_name</a></h3>
                            <p class="icon-tag">@listPost[0].post_type</p>
                            <span>
                                @Html.Raw(listPost[0].post_brief_info)
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    @{ listPost.RemoveAt(0);
                        foreach (var item in listPost)
                        {
                                        <div class="post-entry-big horizontal d-flex mb-4">
                                            @if (item.post_type == "Resourse")
                                            {
                                                if (item.post_document_link != null)
                                                {
                                                    <a href="@Url.Action("DownloadFile","News", new { id = item.post_id})" class="img-link mr-5"><img src="@(item.post_thumbnail == null ? "" : Url.Content(item.post_thumbnail))" alt="Image" class="img-fluid"></a>
                                                    <div class="post-content">
                                                        <div class="post-meta">
                                                            <a href="#">@item.post_date</a>
                                                            <span class="mx-1">/@item.post_category</span>
                                                        </div>
                                                        <h3 class="post-heading"><a href="@Url.Action("DownloadFile","News", new { id = item.post_id})">@item.post_name</a></h3>
                                                        <p class="icon-tag">@item.post_type</p>
                                                        <span>
                                                            @Html.Raw(item.post_brief_info)
                                                        </span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <a href="#" class="img-link mr-5"><img src="@(item.post_thumbnail == null ? "" : Url.Content(item.post_thumbnail))" alt="Image" class="img-fluid"></a>
                                                    <div class="post-content">
                                                        <div class="post-meta">
                                                            <a href="#">@item.post_date</a>
                                                            <span class="mx-1">/@item.post_category</span>
                                                        </div>
                                                        <h3 class="post-heading"><a href="#">@item.post_name</a></h3>
                                                        <p class="icon-tag">@item.post_type</p>
                                                        <span>
                                                            @Html.Raw(item.post_brief_info)
                                                        </span>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("PostDetail","News", new { id = item.post_id})" class="img-link mr-5"><img src="@(item.post_thumbnail == null ? "" : Url.Content(item.post_thumbnail))" alt="Image" class="img-fluid"></a>
                                                <div class="post-content">
                                                    <div class="post-meta">
                                                        <a href="#">@item.post_date</a>
                                                        <span class="mx-1">/@item.post_category</span>
                                                    </div>
                                                    <h3 class="post-heading"><a href="@Url.Action("PostDetail","News", new { id = item.post_id})">@item.post_name</a></h3>
                                                    <p class="icon-tag">@item.post_type</p>
                                                    <span>
                                                        @Html.Raw(item.post_brief_info)
                                                    </span>
                                                </div>
                                            }
                                        </div>
                        }
                    }
                </div>
            }
        </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6 mb-5">
                    <h2 class="section-title-underline mb-3">
                        <span>Teachers and Mentors</span>
                    </h2>
                    <a href="@Url.Action("listAllTeacher","Teacher")">See more teachers</a>
                </div>
            </div>
            <div class="owl-slide-3 owl-carousel">
                @if (listTeacher.Count() != 0)
                {
                    foreach (var item in listTeacher)
                    {
                        <div class="ftco-testimonial-1" style="margin-left:30px">
                            <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                                <img src="@(item.user_image == null ? "" : Url.Content(@item.user_image))" alt="Image" class="img-fluid mr-3" style="height:100px; width:100px; overflow:hidden">
                                <div>
                                    <h3>@item.user_fullname</h3>
                                    <span>@item.user_position</span>
                                </div>
                            </div>
                            <div>
                                <p style="height:100px; min-width:300px; overflow:hidden">@item.user_description</p>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>


    <!-- // 05 - Block -->