@using PagedList.Mvc
@using CourseOnline.Models
@{
    ViewBag.Title = "My Subjects";
    PagedList.IPagedList<MySubjectModel> lstMySubject = ViewBag.lstMySubject;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Assets/IMGUSER/fpt_logo.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">My Subjects</h2>
                <p>"Have the courage to follow your heart and intuition. They somehow know what you truly want to become." - Steve Jobs</p>
            </div>
        </div>
    </div>
</div>
<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="@Url.Action("Home_User","Home")">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">My Subjects</span>
    </div>
</div>

<div class="site-section">
    <div class="container">
        @if (lstMySubject.Count() == 0)
        {
            <h2>You don't have any Course. Please register one course</h2>
        }
        else
        {
            <div class="row">

                @foreach (var item in lstMySubject)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="course-single.html"><img src="@Url.Content("" +@item.picture)" alt="Image" class="img-fluid" style="height:150px; width:500px; overflow:hidden"></a>
                                <div class="category"><h3>@item.subject_category</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>@item.subject_name</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <div class="desc mb-4" style="height:150px; overflow:hidden">@item.subject_brief_info</div>
                                <p><a href="course-single.html" class="btn btn-primary rounded-0 px-4">Join Course</a></p>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="dlink">
                Page @(lstMySubject.PageCount < lstMySubject.PageNumber ? 0 : lstMySubject.PageNumber)/@lstMySubject.PageCount
                @Html.PagedListPager(lstMySubject, page => Url.Action("YourSubject", "Subject", new { page = page }))
            </div>
        }
    </div>
</div>

