@using PagedList.Mvc
@using CourseOnline.Models

@{
    ViewBag.Title = "Post";
    PagedList.IPagedList<Post> listPosts = ViewBag.lstPost;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Assets/IMGUSER/fpt_logo_2.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">News &amp; Events</h2>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="@Url.Action("Home_User","Home")">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">@ViewData["PostType"]</span>
    </div>
</div>

@if (listPosts.Count() == 0)
{
    <div class="site-section">
        <div class="container">
            <h2>Don't have any @ViewData["PostType"]</h2>
        </div>
    </div>
}
else
{
    <div class="site-section">
        <div class="container">
            @foreach (var post in listPosts)
            {
                <div class="row mb-3">
                    <div class="col-lg-4 mb-lg-0 mb-4">
                        <a href="#" class="img-link mr-4"><img src="@(post.post_thumbnail == null ? "" : Url.Content(@post.post_thumbnail))" alt="Image" class="img-fluid"></a>
                    </div>
                    <div class="col-lg-7 ml-auto align-self-center">
                        <h2 class="section-title-underline mb-5">
                            <span>@post.post_name</span>
                        </h2>
                        <div class="post-meta">
                            <a href="#">@post.post_date</a>
                            <span class="mx-1">/@post.post_category</span>
                        </div>
                        <h5 class="icon-tag">
                            <span>@post.post_type</span>
                        </h5>
                        <p>@Html.Raw(post.post_brief_info)</p>
                        @if (post.post_type == "Resourse")
                        {
                            if (post.post_document_link != null)
                            {
                                <a href="@Url.Action("DownloadFile", "News", new { id = post.post_id })" class="btn btn-primary px-4 rounded-0">Download</a>
                            }
                        }
                        else
                        {
                            <a href="@Url.Action("PostDetail","News", new { id = post.post_id})" class="btn btn-primary px-4 rounded-0">Read More</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    if (@ViewData["PostType"].ToString() == "Resource Post")
    {
        <div class="dlink" style="text-align:center">
            Page @(listPosts.PageCount < listPosts.PageNumber ? 0 : listPosts.PageNumber)/@listPosts.PageCount
            @Html.PagedListPager(listPosts, page => Url.Action("ResourcesList", new { page = page }))
        </div>
    }
    else if (@ViewData["PostType"].ToString() == "Guide Post")
    {
        <div class="dlink" style="text-align:center">
            Page @(listPosts.PageCount < listPosts.PageNumber ? 0 : listPosts.PageNumber)/@listPosts.PageCount
            @Html.PagedListPager(listPosts, page => Url.Action("GuideList", new { page = page }))
        </div>
    }
    else
    {
        <div class="dlink" style="text-align:center">
            Page @(listPosts.PageCount < listPosts.PageNumber ? 0 : listPosts.PageNumber)/@listPosts.PageCount
            @Html.PagedListPager(listPosts, page => Url.Action("PostList", new { page = page }))
        </div>
    }
}



