@using CourseOnline.Models;
@{
    ViewBag.Title = "StudyOnline";
    List<QuestionModel> examtest = Session["testquizz"] as List<QuestionModel>;
    int count = 1, countR = 0;
    Layout = "~/Views/Shared/_Test_Layout.cshtml";

    int durationTime = 0;
    if (Session["testquizz"] != null)
    {
        if (Session["time_during_pratice"] != null)
        {
            durationTime = Convert.ToInt32(Session["time_during_pratice"].ToString());
        }
    }
}
<link href="~/Assets/customcss/pagination.css" rel="stylesheet" />
<div class="container" onselectstart='return false;'>
    <div class="userInfor" style="border:2px dashed #cecaca; border-radius: 10px; margin-top: 3%;">
        @{ Html.RenderPartial("_TestInfor");}
    </div>
    <div class="Quiz">
        <h5 style="margin-top: 4%;"> <span class="label label-info">Time Remaining : <span id="minRemaining"></span> : <span id="secRemaining"></span></span> </h5>
        <h4 style="margin-top: 4%;"> <span class="label label-info">Total Question : @examtest.Count() </span> </h4>
        @if (examtest != null && examtest.Any())
        {
            <div class="contents">
                @foreach (var question in examtest)
                {
                    <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">

                        <div class="Question" style="padding: 2%;">
                            <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                            <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.questionID</span>
                            <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.questiontext</p>
                        </div>

                        <div class="Choices" style="margin-left: 8%;">

                            @foreach (var answer in question.answers)
                            {
                                <label class="radio-inline">
                                    <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@answer.answertext" style="margin-left: -16px;"> @answer.answertext
                                </label><br />
                                countR++;
                            }

                        </div> <!--END Choices-->

                        <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">


                        </div>

                    </div> <!-- END BlockQ -->
                    count++;
                }
            </div>
            <span id="countQuections" style="display:none;">@count</span>
            <button type="button" id="SubmitQuiz" class="btn btn-default" value="Submit Quiz" onclick="submitQuiz()"><span class="glyphicon glyphicon-ok"></span> Submit Quiz </button>
            <button type="button" id="ExitTest" style="display:none;margin-top: 5px" class="btn btn-default" value="ExitTest"><span class="glyphicon glyphicon-ok"></span> Exit Test </button>
        }
    </div>
</div>

@if (Session["testquizz"] != null)
{
    <script>
        window.onbeforeunload = function () {
            return "Leaving this page will reset the wizard";
        };
        //function preventBack() { window.history.forward(); }
        //setTimeout("preventBack()", 0);
        //window.onunload = function () { null };

    </script>
}

@section scripts
{
    <script src="~/Assets/customjs/pagination.js"></script>
    <script type="text/javascript">
       var counter = {};
        counter.end = @durationTime;
        counter.min = document.getElementById("minRemaining");
        counter.sec = document.getElementById("secRemaining");
        var _tick = setInterval(function () {
                counter.end = counter.end + 1;
                var secs = counter.end;
                var mins  = Math.floor(secs / 60);
                secs -= mins * 60;
                counter.min.innerHTML = mins;
                counter.sec.innerHTML = secs;
        }, 1000);

        $(document).ready(function () {
               $("#tab").pagination({
                  items: 1,
                  contents: 'contents',
                  previous: 'Previous',
                  next: 'Next',
                  position: 'bottom',
                  });
            });

        function submitQuiz() {
            //count Questions
            var sel = $('#countQuections').text();

            console.log(sel);

            var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

            for (var i = 1; i < countQuestion; i++) {
                if ($('input[name=inlineRadioOptions' + i + ']:checked').val() == null) {
                    errorAlert("Question " + i + " is not empty");
                    $('#AnsQ' + i).html('<div class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> You need to answer this question</div>');
                    return;
                }
                question = {
                    questionID: $('#ID_Q' + i).text(),
                    questiontext: $('#Q' + i).text(),
                    answertext: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                }
                resultQuiz.push(question);
            }

            $.ajax({

                type: 'POST',
                url: '@Url.Action("SubmitPracticeQuiz", "Home")',
                data: { resultQuiz },

                success: function (response) {
                    if (response.result.length > 0) {
                        var correct = 0;
                        for (var i = 0; i < response.result.length; i++) {
                            if (response.result[i].isCorrect == true) {
                                correct++;
                                $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                            }
                            else {
                                $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The Correct Answer is <b>' + response.result[i].answercorrect + '</b></div>');
                            }
                            j++;
                        }
                        var result = Math.round((correct / response.result.length) * 100,2);
                        clearInterval(_tick);
                        $("#SubmitQuiz").hide();
                        $("#ExitTest").show();
                        successAlert("Your Result", "You got " + result + " % in " + "" + response.result[0].timeduration + " ss");
                    }
                    else {
                        errorAlert("Something Wrong");
                    }
                },
                error: function (response) {
                    errorAlert("Somthing wrong submit quiz");
                }
            })
            console.log(resultQuiz);
        }

        $('#ExitTest').on('click', function () {
            window.location.href = '@Url.Action("SelectCourseToQuiz","Home")';
        });
    </script>
}
