@using PagedList.Mvc
@using CourseOnline.Models
@{
    ViewBag.Title = "Subject";
    List<Subject> listSubjects = ViewBag.lstSubject;
}
@{
    int iCount = 0;
    int iNumberOfSubjects = 6;
    int iPage = 1;
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="site-section">
    <div class="container">
        <div class="row">
            @foreach (var item in listSubjects)
            {
                if (iCount % iNumberOfSubjects == 0 && iCount != 0)
                {
                    iPage++;
                }
                    <div class="@Url.Content("col-lg-4 col-md-6 mb-4 simpleCart_shelfItem Page"+iPage.ToString())">
                        <div class="course-1-item">
                            <figure class="thumnail">
                                <a href="@Url.Action("SubjectDetail","Subject", new { @id = item.subject_id})"><img src="@(item.picture == null ? "" : Url.Content(@item.picture))" alt="Image" class="img-fluid" style="height:150px; width:500px; overflow:hidden"></a>
                                <div class="category"><h3>@item.subject_category</h3></div>
                            </figure>
                            <div class="course-1-content pb-4">
                                <h2>@item.subject_name</h2>
                                <div class="rating text-center mb-3">
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                    <span class="icon-star2 text-warning"></span>
                                </div>
                                <div class="desc mb-4" style="height:150px; overflow:hidden">@item.subject_brief_info</div>
                                <p><a href="@Url.Action("SubjectDetail","Subject", new { @id = item.subject_id})" class="btn btn-primary rounded-0 px-4">Enroll In This Subject</a></p>
                            </div>
                        </div>
                    </div>

                iCount++;
            }
        </div>
        <div class="Page">
            @for (int i = 1; i <= iPage; i++)
            {
                <a class="linkPage btn btn-primary rounded" data-sotrang="@Url.Content("Page"+i) " href="#">@i</a>
            }

        </div>
    </div>
</div>
<style>
    .simpleCart_shelfItem {
        display: none;
    }

    .Page1 {
        display: block;
    }
</style>
<script>
    $('.linkPage').click(function () {
        $(".simpleCart_shelfItem").hide();
        var soTrang = $(this).attr("data-sotrang");

        $("." + soTrang).show();

    });

</script>