
@{
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Menus List
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Menu List</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-sm-2">
                        <button id="btnAdd" type="submit" class="btn btn-block btn-primary" onclick='getAddMenu()'>Add Menu</button>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_menuStatus" class="form-control">
                            <option>All Status</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_menu" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="table-width5">ID</th>
                                <th class="table-width20">Menu</th>
                                <th class="table-width50">Link</th>
                                <th class="table-width5">Order</th>
                                <th class="table-width5">Status</th>
                                <th class="table-width10">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>

        var dataTable;
    $(document).ready(function() {
       dataTable = $('#tb_menu').DataTable({
            "ajax": {
                "url": '@Url.Action("getAllMenu", "Menu")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "menu_id", "name": "menu_id", "orderable": true },
                { "data": " enu_name", "name": "menu_name", "orderable": true },
                { "data": "menu_link", "name": "menu_link", "orderable": true },
                { "data": "menu_order", "name": "menu_order", "orderable": true },
                {
                    "data": "menu_status", "name": "menu_status", "orderable": true, "render": function (data) {
                        if (data == 1) return "Active"
                        else return "Inactive"}
                },
                {
                    "data": "menu_id", "render": function (data) {
                            return "<button class='btn btn-block btn-primary' data-target='edit_employee'  style='margin-left:5px' onclick=getEditIdMenu('" + data + "') ><i class='fa fa-fw fa-edit'></i>Edit</button>" +
                              "<button class='btn btn-block btn-danger'  style='margin-left:5px' onclick=getDelIdMenu('" + data + "') ><i class='fa fa-trash'></i>Delete</button>";
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 5,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
       });
       filterListener();
    });

    function filterListener() {
             $('#sl_menuStatus').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                 var valueSelected = this.value;
                 dataTable.ajax.url('@Url.Action("FilterByMenuStatus","Menu")' + '?type=' + valueSelected).load(function (response) { });
            });
        }

    // bat su kien add
    function getAddMenu() {
               window.location.href ='@Url.Action("AddMenu", "Menu")';
        }

    //bat su kien edit
    function getEditIdMenu(id) {
            if (id != null) {
               window.location.href ='@Url.Action("MenuDetail", "Menu")?id=' + id;
            }
        }


    function getDelIdMenu(id) {
            if (id != null) {
                confirmAlert('Xóa', 'Xác nhận xóa', function submit() {
                    $.ajax({
                        url:'@Url.Action("deleteMenu","Menu")',
                        type: "POST",
                        data: { id: id },
                        datatype: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Thành công", "Xóa thành công")
                            } else {
                                errorAlert("Thất bại", "Xóa thất bại")
                            }
                        },
                        error: (response) => { errorAlert("Thất bại", "Xóa thất bại") }
                    });
                });
            }
    }

    </script>
}
