@{
    ViewBag.Title = "Index";
}
﻿@using CourseOnline.Models
﻿@using CourseOnline.Global.Setting


<!DOCTYPE html>
<html lang="en">

<head>
    <title>FPT Online Course</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/bootstrap/fonts/style.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css_user/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/flaticon.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/aos.css">
    <link href="~/Assets/bootstrap/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/style.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link href="~/Assets/studyonlinealert/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Assets/studyonlinealert/alert-js.js"></script>
    <script src="~/Assets/studyonlinealert/sweetalert2.all.min.js"></script>
    <script src="~/Assets/studyonlinealert/sweetalert2.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
    var OAUTHURL = 'https://accounts.google.com/o/oauth2/auth?';
    var VALIDURL = 'https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=';
    var SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email';
    var CLIENTID = '659592932336-n487osp2gb4g3de47pppmipm0ad0l7o4.apps.googleusercontent.com';
    var REDIRECT = 'http://171.244.139.75';
    var TYPE = 'token';
    var _url = OAUTHURL + 'scope=' + SCOPE + '&client_id=' + CLIENTID + '&redirect_uri=' + REDIRECT + '&response_type=' + TYPE;
    var acToken;
    var tokenType;
    var expiresIn;
    var user;
    var loggedIn = false;
    function login() {

        var win = window.open(_url, "windowname1", 'width=800, height=600');
        var pollTimer = window.setInterval(function () {
            try {
                console.log(win.document.URL);
                if (win.document.URL.indexOf(REDIRECT) != -1) {
                    window.clearInterval(pollTimer);
                    var url = win.document.URL;
                    acToken = gup(url, 'access_token');
                    tokenType = gup(url, 'token_type');
                    expiresIn = gup(url, 'expires_in');

                    win.close();
                    debugger;
                    validateToken(acToken);
                }
            }
            catch (e) {

            }
        }, 500);
    }
    function gup(url, name) {
        namename = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regexS = "[\\#&]" + name + "=([^&#]*)";
        var regex = new RegExp(regexS);
        var results = regex.exec(url);
        if (results == null)
            return "";
        else
            return results[1];
    }

    function validateToken(token) {

        getUserInfo();
        $.ajax(

            {

                url: VALIDURL + token,
                data: null,
                success: function (responseText) {

                },

            });

    }

    function getUserInfo() {
        $.ajax({

            url: 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + acToken,
            data: null,
            success: function (resp) {
                user = resp;
                getData();
            },
        })
    }
        function getData() {
             $.ajax({
            url: '@Url.Action("GoogleLogin", "Home")',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ 'email': user.email, 'name': user.name, 'gender': user.gender, "lastname": user.lastname, "location": user.location, "picture": user.picture }),
            success: (response) => {
                   if (response.success) {
                       window.location.href = '@Url.Action("CheckAccount", "Home")'
                   } else {
                       errorAlert("Your account is locked");
                   }
               },
             error: (response) => { alert("Something wrong!") }
        })
        }



    </script>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
        <input hidden id="errorMessage" value="@TempData["ErrorMessage"]" />
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <div class="py-2 bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 d-none d-lg-block">
                        <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
                        <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span> 0942624944</a>
                        <a href="mailto:ducnase04962@fpt.edu.vn" class="small mr-3"><span class="icon-envelope-o mr-2"></span>sro.hn@fpt.edu.vn</a>
                    </div>
                    <div class="col-lg-3 text-right">
                        @{ if (Session["Name"] == null)
                            {
                                <div>
                                    <button class="btn btn-default" style="background-color: #51be78" id="GoogleLogin" onclick="login()"><i class="fa fa-google-plus"></i><font color="white"> Sign in with Google</font></button>
                                </div>
                            }
                            else
                            {
                                <div class="navbar-custom-menu">
                                    <ul class="nav navbar-nav" style="min-width: 280px">
                                        <!-- User Account: style can be found in dropdown.less -->
                                        <li class="dropdown user user-menu">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <img src="@(Session["Picture"] == null ? "" : Url.Content(@Session["Picture"].ToString()))" class="user-image" alt="User Image">
                                                <span class="hidden-xs">@Session["Name"]</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <!-- User image -->
                                                <li class="user-header" style="background-color:#51BE78">
                                                    <img src="@(Session["Picture"] == null ? "" : Url.Content(@Session["Picture"].ToString()))" class="img-circle" alt="User Image">
                                                    <p>
                                                        @Session["Name"]
                                                    </p>
                                                    <p>@Session["Email"]</p>
                                                </li>
                                                <!-- Menu Footer-->
                                                <li class="user-footer">
                                                    <div class="row">
                                                        <div class="col-sm-3" style="margin-left:2px">
                                                            <a href="@Url.Action("YourAcountInformation", "Home")" class="btn btn-default btn-flat">Profile</a>
                                                        </div>
                                                        <div class="col-sm-4" style="margin-left:2px">
                                                            <a href="@Url.Action("YourCourse", "Home")" class="btn btn-default btn-flat">My Course</a>
                                                        </div>
                                                        <div class="col-sm-4" style="margin-left:6px">
                                                            @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm" }))
                                                            {
                                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat"> Sign Out</a>
                                                            }
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <!-- Control Sidebar Toggle Button -->
                                    </ul>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a href="@Url.Action("Home_User", "Home")" class="d-block">
                            <img src="~/Assets/IMGUSER/logo.png" alt="Image" class="img-fluid" height="36" width="144">
                        </a>
                    </div>
                    <div class="mr-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="@Url.IsActive("Home_User", "Home")">
                                    <a href="@Url.Action("Home_User", "Home")" class="nav-link text-left">Home</a>
                                </li>
                                <li class="@Url.IsActive("GuideList", "News")">
                                    <a href="@Url.Action("GuideList", "News")" class="nav-link text-left fa fa-fw fa-sort-desc">Guide</a>
                                </li>
                                <li class="@Url.IsActive("ResourcesList", "News")">
                                    <a href="@Url.Action("ResourcesList", "News")" class="nav-link text-left">Resource</a>
                                </li>
                                <li class="@Url.IsActive("ListCourses", "Home")">
                                    <a href="@Url.Action("ListCourses", "Home")" class="nav-link text-left">Course</a>
                                </li>
                                <li class="@Url.IsActive("SelectCourseToQuiz", "Home")">
                                    <a href="@Url.Action("SelectCourseToQuiz", "Home")" class="nav-link text-left">Practice Test</a>
                                </li>
                                @if (Session["permission"] != null)
                                {
                                    if (Session["permission"].Equals("Permission 1") || Session["permission"].Equals("Permission 2"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Home_CMS", "Home")" class="nav-link text-left">Go Back To CMS</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-2" style="margin-right:50px">
                        @using (Html.BeginForm("GetKeyWord", "Home"))
                        {
                            <div class="d-flex" style="margin-top:10px">
                                <input type="text" class="rounded form-control" placeholder="Search Course ... " style="min-width: 200px" name="keyword">
                                <button class="btn btn-primary rounded" style="margin-left:5px" type="submit">Search</button>
                            </div>
                        }
                    </div>
                    <div class="ml-auto">
                        <div class="social-wrap">
                            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black active">
                                <span class="icon-menu h3"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        @RenderBody()


        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mb-4"><img src="~/Assets/IMGUSER/logo.png" alt="Image" class="img-fluid"></p>
                        <h3>FPT Education</h3>
                        <p>Hoa Lac High Tech Park, Hanoi, Vietnam</p>
                        <p>Email: fpteducation@fe.edu.vn</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Our Courses</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Math</a></li>
                            <li><a href="#">Science &amp; Engineering</a></li>
                            <li><a href="#">Arts &amp; Humanities</a></li>
                            <li><a href="#">Economics &amp; Finance</a></li>
                            <li><a href="#">Business Administration</a></li>
                            <li><a href="#">Computer Science</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Contact</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Support Community</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Share Your Story</a></li>
                            <li><a href="#">Our Supporters</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="copyright">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |  FPT Education
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>
    <script src="~/Assets/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/bootstrap/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Assets/bootstrap/js/jquery-ui.js"></script>
    <script src="~/Assets/bootstrap/js/popper.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/bootstrap/js/owl.carousel.min.js"></script>
    <script src="~/Assets/bootstrap/js/jquery.stellar.min.js"></script>
    <script src="~/Assets/bootstrap/js/jquery.countdown.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/bootstrap/js/jquery.easing.1.3.js"></script>
    <script src="~/Assets/bootstrap/js/aos.js"></script>
    <script src="~/Assets/bootstrap/js/jquery.fancybox.min.js"></script>
    <script src="~/Assets/bootstrap/js/jquery.sticky.js"></script>
    <script src="~/Assets/bootstrap/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/Assets/bootstrap/js/main.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js.download"></script>
    <script src="~/Assets/studyonlinealert/alert-js.js"></script>
</body>

</html>
@RenderSection("scripts", required: false)
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    if ($('#errorMessage').val() != "") {
        errorAlert("" + $('#errorMessage').val());
    }
</script>


