@using CourseOnline.Models;
@{
    ViewBag.Title = "PermissionDetail";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    Permission permission = ViewBag.Permission;
    int id = ViewBag.id;
}
<!DOCTYPE html>

<section class="content-header">
    <h1>
        Permission Details
    </h1>
    <ol class="breadcrumb">
        <li><a href="dashboard.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href='@Url.Action("Index","Permissions")'>Permission List</a></li>
        <li class="active">Permission Details</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" disabled class="form-control edit-field" id="inp_name" value="@permission.permission_name">
                    </div>
                    <div class="form-group">
                        <label>Link</label>
                        <input type="text" disabled class="form-control edit-field" id="inp_link" value="@permission.permission_link">
                    </div>
                    <div class="form-group">
                        <label>Describe</label>
                        <input type="text" disabled class="form-control edit-field" id="inp_des" value="@permission.permission_describe">
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select id="sl_permissionStatus" disabled class="form-control edit-field">
                            @{
                                if (permission.permission_status == true)
                                {
                                    <option>Active</option>
                                    <option>Inactive</option>
                                }
                                else
                                {
                                    <option>Inactive</option>
                                    <option>Active</option>
                                }
                            }
                        </select>
                    </div>
                    <button class="btn btn-info" onclick="turnOnEditMode()">Edit</button>
                    <button disabled type="submit" onclick="SubmitEditPermission()" class="btn btn-info edit-field">Submit</button>
                    <button type="submit" class="btn btn-info" onclick='getBackPermissionList()'>Back</button>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var isEnableEditingMode = false;
        function turnOnEditMode() {
            if (!isEnableEditingMode) {
                // bat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', false); isEnableEditingMode = true; }
                )
            } else {
                // tat trang thai edit
                $(".edit-field").each(
                    function () { $(this).prop('disabled', true); isEnableEditingMode = false; }
                )
            }
        };

        function SubmitEditPermission() {

            var permission = {
                    permissionid : @id,
                    permissionName: $("#inp_name").val(),
                    permissionLink: $("#inp_link").val(),
                    permissionStatus: $("#sl_permissionStatus").val(),
                    permissionDescribe: $("#inp_des").val(),
            };

            var postJson = JSON.stringify(permission);

            $.ajax({
                url: '@Url.Action("SubmitEditPermission","Permissions")',
                type: "POST",
                data: { postJson : postJson },
                dataType: "json",
                success: (response) => {
                    if (response.success) {
                        alert("submit success");
                        turnOnEditMode();
                    } else {
                        alert("submit error");
                    }
                },
                error: (response) => { alert("network error") }
            });
        };

    // bat su kien back
    function getBackPermissionList() {
               window.location.href ='@Url.Action("Index", "Permissions")';
        }
    </script>
}