@using CourseOnline.Models;
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    var lstStatus = ViewBag.lstStatus;
    var lstRoles = ViewBag.lstRoles;
}
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Users List
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Users List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box table-responsive">
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-sm-2" style="margin-left : 10px; margin-top : 10px">
                        <select id="sl_userStatus" class="form-control">
                            <option>All Status</option>
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                    </div>
                    <div class="col-sm-2" style="margin-top : 10px">
                        <select id="sl_userRoles" class="form-control">
                            <option>All Roles</option>
                            @{
                                foreach (string roles in lstRoles)
                                {
                                    <option value="@roles">@roles</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-4" style="margin-top : 10px">
                        Search:
                        <input type="text" placeholder="Search" id="inp_search" style="height:34px; margin-left:10px;" />
                        <a onclick="doSearch()" style="cursor: pointer;" data-toggle='tooltip' title='Search'><i class='fa fa-fw fa-search'></i></a>
                    </div>
                    <div class="col-sm-2 pull-right">
                        <button type="button" class="btn btn-link" onclick="getAddUser()" style="float:right;">Add new</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_user" class="table table-bordered table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Roles</th>
                                <th>Status</th>
                                <th class="col-sm-1">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>

         var dataTable;
    $(document).ready(function() {
        dataTable= $('#tb_user').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllUser", "User")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "user_id", "name": "user_id", "orderable": true },
                { "data": "user_fullname", "name": "user_fullname", "orderable": true },
                { "data": "user_email", "name": "user_email", "orderable": true },
                { "data": "use_mobile", "name": "use_mobile", "orderable": true },
                { "data": "role_name", "name": "role_name", "orderable": true },
                {
                    "data": "user_status", "name": "user_status", "orderable": true, "render": function (data) {
                        if (data == 1) return "Active"
                        else return "Inactive"}
                },
                {
                    "data": "user_id", "render": function (data) {
                            return "<div class='row'><div class='col-lg-6'><a onclick=getEditIdUser('" + data + "') style='width=100%; cursor: pointer;' data-toggle='tooltip' title='Edit'><i class='fa fa-fw fa-edit'></i></a>" +
                                    "</div>" +
                                    "<div class='col-lg-6 pull-left'><a id='myBtn' onclick=getDelIdUser('" + data + "') style='width=100%; cursor: pointer;' data-toggle='tooltip' title='Delete'><i class='fa fa-trash'></i></a>" +
								 "</div>" +
								 "</div>";
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 10,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
        });
        //them su kien cho filter
        filterListener();
        //them su kien cho search
        doSearch()
    });

        //bat su kien search
        function doSearch() {
            
            $('#inp_search').on('change', function (e) {
                var valueSelected = this.value;
                dataTable.ajax.url('@Url.Action("SearchByName","User")' + '?type=' + valueSelected).load(function (response) { });
            });
        }

        function doFilter() {
                var valueSelected = {
                    userRole : $("#sl_userRoles").val(),
                    userStatus : $("#sl_userStatus").val(),
                };
                var valueSelectedJson = JSON.stringify(valueSelected);
                dataTable.ajax.url('@Url.Action("DoFilter","User")' + '?filterBy=' + valueSelectedJson).load(function (response) { });
        }

        function filterListener() {
            $('#sl_userStatus').on('change', function (e) {
                doFilter();
            });
            $('#sl_userRoles').on('change', function (e) {
                doFilter();
            });
        }
        function getEditIdUser(id) {
              if (id != null) {
               window.location.href ='@Url.Action("UserDetail", "User")?id=' + id;
            }
        }

           function getAddUser() {
               window.location.href ='@Url.Action("AddUser", "User")';
        }

        function getDelIdUser(id) {
            if (id != null) {
                confirmAlert('Delete', 'Do you want to delete?', function submit() {
                    $.ajax({
                        url:'@Url.Action("deleteUser","User")',
                        type: "POST",
                        data: { id: id },
                        datatype: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Delete Success")
                            } else {
                                errorAlert("Failed", "Delete Failed")
                            }
                        },
                        error: (response) => { errorAlert("Failed", "Delete failed") }
                    });
                });
            }
        }
    </script>
}


