@using CourseOnline.Models;
@{
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";
    var listType = ViewBag.subjectType;
    var listCategory = ViewBag.subjectCategory;
    var listStatus = ViewBag.subjectStatus;
}

<section class="content-header">
    <h1>
        Subjects List
    </h1>
    <ol class="breadcrumb">
        <li><a href="dashboard.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Subject List</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-sm-2">
                        <button id="btnAdd" type="button" class="btn btn-block btn-primary" onclick='getAddSubject()'>Add new</button>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_subjectType" class="form-control">
                            <option>All type</option>
                            @{
                                foreach (string subject in listType)
                                {
                                    <option value="@subject">@subject</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_subjectCategory" class="form-control">
                            <option>All Category</option>
                            @{
                                foreach (string subject in listCategory)
                                {
                                    <option value="@subject">@subject</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <select id="sl_subjectStatus" class="form-control">
                            <option>All Status</option>
                            @{
                                foreach (string subject in listStatus)
                                {
                                    <option value="@subject">@subject</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_subject" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Subject</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Lessons</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
        $(document).ready(function () {
        dataTable =  $('#tb_subject').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllSubject", "Subject")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "subject_id", "name": "subject_id", "orderable": true },
                { "data": "subject_name", "name": "subject_name", "orderable": true },
                { "data": "subject_type", "name": "subject_type", "orderable": true },
                { "data": "subject_category", "name": "subject_category", "orderable": true },
                { "data": "lesson_count", "name": "lesson_count", "orderable": true },
                { "data": "subject_status", "name": "subject_status", "orderable": true },
                {
                    "data": "subject_id", "render": function (data) {
                        return "<button class='btn btn-block btn-primary' data-target='edit_employee'  style='margin-left:5px' onclick=getEditIdSubject('" + data + "') ><i class='fa fa-fw fa-edit'></i>Edit</button>" +
                            "<button class='btn btn-block btn-primary' data-target='edit_employee'  style='margin-left:5px' onclick=getSubjectLesson('" + data + "') ><i class='fa fa-file'></i>Lessons</button>";
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 5,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
        });

        // them su kien cho filter
                filterListener();
    });

    function filterListener() {
            $('#sl_subjectType').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                var valueSelected = this.value;

                dataTable.ajax.url('@Url.Action("FilterBySubjectType","Subject")' + '?type=' + valueSelected).load(function (response) { });
            });

             $('#sl_subjectCategory').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                 var valueSelected = this.value;
                 dataTable.ajax.url('@Url.Action("FilterBySubjectCategory","Subject")' + '?type=' + valueSelected).load(function (response) { });
             });

             $('#sl_subjectStatus').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                 var valueSelected = this.value;
                 dataTable.ajax.url('@Url.Action("FilterBySubjectStatus","Subject")' + '?type=' + valueSelected).load(function (response) { });
            });
        }

    // bat su kien add
        function getAddSubject() {
               window.location.href ='@Url.Action("AddSubject", "Subject")';
        }

    //bat su kien edit
        function getEditIdSubject(id) {
            if (id != null) {
                window.location.href = '@Url.Action("EditSubject", "Subject")?id=' + id;
            }
        }

    //bat su kien subject lesson
        function getSubjectLesson(id) {
            if (id != null) {
               window.location.href ='@Url.Action("SubjectLessonList", "Subject")?id=' + id;
            }
        }


    </script>
}

