
@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";

    var lstSubject = ViewBag.lstSubject;
    var lstCourse = ViewBag.lstCourse;
    var lststatus = ViewBag.lststatus;
}

<section class="content-header">
    <h1>
        Course Registrations
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Registrations List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">
                    <div class="col-sm-2" style="margin-left : 10px; margin-top : 10px">
                        <select id="sl_Subject" class="form-control">
                            <option>All subject</option>
                            @{
                                foreach (string subjectname in lstSubject)
                                {
                                    <option value="@subjectname">@subjectname</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" style="margin-top : 10px">
                        <select id="sl_Course" class="form-control">
                            <option>All Course</option>
                            @{
                                foreach (string coursename in lstCourse)
                                {
                                    <option value="@coursename">@coursename</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" style="margin-top : 10px">
                        <select id="sl_Status" class="form-control">
                            <option>All Status</option>
                            @{
                                foreach (string statusName in lststatus)
                                {
                                    <option value="@statusName">@statusName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-1 pull-right">
                        <button type="button" class="btn btn-link" onclick="" style="float:right;">Import</button>
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_registration" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Subject</th>
                                <th>Course</th>
                                <th>Register</th>
                                <th>Register Email</th>
                                <th>Registration time</th>
                                <th>Status</th>
                                <th class="col-sm-2">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var dataTable;
    $(document).ready(function() {
       dataTable = $('#tb_registration').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllRegistration", "Registration")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "registration_id", "name": "registration_id", "orderable": true },
                { "data": "subject_name", "name": "subject_name", "orderable": true },
                { "data": "course_name", "name": "course_name", "orderable": true },
                { "data": "user_fullname", "name": "user_fullname", "orderable": true },
                { "data": "user_email", "name": "user_email", "orderable": true },
                { "data": "registration_time", "name": "registration_time", "orderable": true },
                { "data": "registration_status", "name": "registration_status", "orderable": true },
                {
                    "data": "registration_id", "render": function (data) {
                        if (data) {
                            return  "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:10px' onclick=getEditIdEmp('" + data + "') > Approve</a>" +
                                    "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:10px' onclick=getDeleteIdEmp('" + data + "') ><i class='link-space-left-20'></i> Reject</a>" +
                                    "<a class='waves-effect waves-light btn-small red modal-trigger' style='margin-left:10px' onclick=getDeleteIdEmp('" + data + "') ><i class='link-space-left-20'></i> Block</a>";
                        }
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 5,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
       });
         // them su kien cho filter
        filterListener();
    });

        function doFilter() {
                var valueSelected = {
                    subject : $("#sl_Subject").val(),
                    course : $("#sl_Course").val(),
                    regisStatus: $("#sl_Status").val(),
                };
                var valueSelectedJson = JSON.stringify(valueSelected);
                dataTable.ajax.url('@Url.Action("DoFilter","Registration")' + '?filterBy=' + valueSelectedJson).load(function (response) { });
        }

        function filterListener() {
            $('#sl_Subject').on('change', function (e) {
                doFilter();
            });

            $('#sl_Course').on('change', function (e) {
                doFilter();
            });

            $('#sl_Status').on('change', function (e) {
                doFilter();
            });
        }

    </script>
}

