
@{
    ViewBag.Title = "RegistrationList";
    Layout = "~/Views/Shared/_CMS_Layout.cshtml";

    var lstSubject = ViewBag.lstSubject;
    var lstCourse = ViewBag.lstCourse;
    var lststatus = ViewBag.lststatus;
    var message = "";
    if(ViewData["Message"] != null)
    {
         message = ViewData["Message"].ToString();
    }
}

<section class="content-header">
    <h1>
        Course Registrations
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Home_CMS", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Registrations List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box table-responsive">
                <div class="row">
                    <div class="col-sm-2" style="margin-left : 10px; margin-top : 10px">
                        <select id="sl_Subject" class="form-control">
                            <option>All subject</option>
                            @{
                                foreach (string subjectname in lstSubject)
                                {
                                    <option value="@subjectname">@subjectname</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" style="margin-top : 10px">
                        <select id="sl_Course" class="form-control">
                            <option>All Course</option>
                            @{
                                foreach (string coursename in lstCourse)
                                {
                                    <option value="@coursename">@coursename</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" style="margin-top : 10px">
                        <select id="sl_Status" class="form-control">
                            <option>All Status</option>
                            @{
                                foreach (string statusName in lststatus)
                                {
                                    <option value="@statusName">@statusName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2">
                        @using (Html.BeginForm("Import", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <span>Excel File</span>
                            <input type="file" id="input_file" name="excelfile" class="edit-field" />
                            <input id="primaryButton" type="submit" value="Import" class="edit-field" />
                        }
                    </div>
                </div>
                <div class="box-body">
                    <table id="tb_registration" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Subject</th>
                                <th>Course</th>
                                <th>Register</th>
                                <th>Register Email</th>
                                <th>Registration time</th>
                                <th>Status</th>
                                <th class="col-sm-2">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        var message = '@message';
        if (message) {
            if (message == "Import success") {
                successAlert(message);
            } else {
                errorAlert(message);
            }
        }
        var dataTable;
        $(document).ready(function() {
       dataTable = $('#tb_registration').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllRegistration", "Registration")',
                "type": "POST",
                "datatype": "json",
            },
            "columns": [
                { "data": "registration_id", "name": "registration_id", "orderable": true },
                { "data": "subject_name", "name": "subject_name", "orderable": true },
                { "data": "course_name", "name": "course_name", "orderable": true },
                { "data": "user_fullname", "name": "user_fullname", "orderable": true },
                { "data": "user_email", "name": "user_email", "orderable": true },
                { "data": "registration_time", "name": "registration_time", "orderable": true },
                { "data": "registration_status", "name": "registration_status", "orderable": true },
                {
                    "data": "registration_id", "render": function (data) {
                        if (data) {
                            return "<div class='row'><div class='col-sm-4'><a id='btn_approve' onclick=setApproveStatus('" + data + "') style='width=100%; cursor : pointer'>Approve</a>" +
                                    "</div>" +
                                    "<div class='col-sm-4'><a onclick=setRejectStatus('" + data + "') style='width=100%; cursor : pointer'>Reject</a>" +
                                    "</div>" +
                                    "<div class='col-sm-4'><a onclick=setBlockStatus('" + data + "') style='width=100%; cursor : pointer'>Block</a>" +
								    "</div>" +
								    "</div>";
                        }
                    },
                    "orderable": false,
                    "searchable": false
                },
            ],
        "paging": true,
        "pageLength": 10,
        "ordering": true,
        "serverSide": "true",
        "order": [[0, "asc"]],
        "searching": false
       });
         // them su kien cho filter
        filterListener();

        //setApproveStatus(id);
    });

        function  setApproveStatus(id)
        {
        var res = {
                id : id,
                resStatus: "Approved",
            };
            var postJson = JSON.stringify(res);

        $.ajax({
                url:'@Url.Action("SetRegistrationStatus","Registration")',
                        type: "POST",
                        data: { postJson: postJson },
                        dataType: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Change Success")
                            } else {
                                errorAlert("Fail", "Change Fail")
                            }
                        },
                        error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }

        function  setRejectStatus(id)
        {
        var res = {
                id : id,
                resStatus: "Rejected",
            };
            var postJson = JSON.stringify(res);

        $.ajax({
                url:'@Url.Action("SetRegistrationStatus","Registration")',
                        type: "POST",
                        data: { postJson: postJson },
                        dataType: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Change Success")
                            } else {
                                errorAlert("Fail", "Change Fail")
                            }
                        },
                        error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }

        function  setBlockStatus(id)
        {
        var res = {
                id : id,
                resStatus: "Blocked",
            };
            var postJson = JSON.stringify(res);

        $.ajax({
                url:'@Url.Action("SetRegistrationStatus","Registration")',
                        type: "POST",
                        data: { postJson: postJson },
                        dataType: "json",
                        success: (response) => {
                            if (response.success) {
                                dataTable.ajax.reload(); successAlert("Success", "Change Success")
                            } else {
                                errorAlert("Fail", "Change Fail")
                            }
                        },
                        error: (response) => { errorAlert("Opps!! Something wrong!") }
            });
        }

        function doFilter() {
                var valueSelected = {
                    subject : $("#sl_Subject").val(),
                    course : $("#sl_Course").val(),
                    regisStatus: $("#sl_Status").val(),
                };
                var valueSelectedJson = JSON.stringify(valueSelected);
                dataTable.ajax.url('@Url.Action("DoFilter","Registration")' + '?filterBy=' + valueSelectedJson).load(function (response) { });
        }

        function filterListener() {
            $('#sl_Subject').on('change', function (e) {
                doFilter();
            });

            $('#sl_Course').on('change', function (e) {
                doFilter();
            });

            $('#sl_Status').on('change', function (e) {
                doFilter();
            });
        }

    </script>
}

